/* CSS file ONLY for post_login_base.html */

body{
    overflow-x: hidden;
}

/* Container used in order to create a responsive menu for phone */
.content-container-two{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

/* Header */
header{
    padding: 1.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--pink);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__site-name{
    font-size: var(--fs-big-title);
    font-weight: var(--medium);
}
.header__options{
    font-size: var(--fs-header-link);
    font-weight: var(--semibold);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5vw;
}
/* <a> elements: */
.header__link{
    color: var(--white);
    transition: 250ms;
}
.header__link:hover{
    color: var(--white-50);
}
.header__logout-button{
    padding: 0.4rem 1.2rem;
    font-size: var(--fs-subtitle);
    border-radius: 2rem;
    background-color: var(--white-50);
    color: var(--white);
    outline: 0.2rem solid var(--white-50);
    transition: 250ms;
}
.header__logout-button:hover{
    background-color: transparent;
}


/* Footer */

/* STYLE */
footer{
    padding: 1.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--pink);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* GRID system */
.footer__grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}
.footer__grid-col-span-3{
    grid-column: span 3;
}
/* STYLE */
.footer__subtitle{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.footer__about{
    padding: 3rem 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
}
.footer__about-options{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
}
.footer__about-option{
    text-align: center;
}
.footer__about-link{
    color: var(--white);
    text-decoration: underline;
    transition: 250ms;
}
.footer__about-link:hover{
    color: var(--white-50);
}
.footer__review{
    padding: 3rem 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
}
.footer__review-content{
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
}
.footer__review-description{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    text-align: center;
}
.footer__review-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
input[type=text].footer__review-input{   
    width: 100%;
    font-size: var(--fs-description);
    font-weight: var(--regular);
    border: none;
    border-bottom: 0.25rem solid var(--white-50);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: transparent;
    color: var(--white);
    transition: 250ms;
}
input[type=text].footer__review-input:focus{
    /* Properties when input is focused */
    border-bottom:  0.25rem solid var(--dark-pink);
    outline: none;
}
input[type=text].footer__review-input::placeholder{
    /* Properties for placeholder */
    font-style: italic;
    color: var(--white-50);
    transition: 250ms;
}
input[type=text].footer__review-input:focus::placeholder{
    /* Properties for placeholder when input is focused */
    color: var(--dark-pink);
}
.footer__review-button{
    padding: 0.4rem 1.3rem;
    box-sizing: border-box;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    border-radius: 2rem;
    outline: 0.2rem solid var(--white-50);
    background-color: var(--white-50);
    color: var(--white);
    cursor: pointer;
    transition: 250ms;
}
.footer__review-button:hover{
    /* Properties when button is hovered */
    background-color: transparent;
}
.footer__review-button:active{
    /* Properties when button is clicked */
    outline: 0.2rem solid var(--dark-pink);
    background-color: var(--dark-pink);
}
input[type=text].footer__review-input:focus + .footer__review-button{
    /* Properties for button when input is focused */
    outline: 0.2rem solid var(--dark-pink);
    background-color: var(--dark-pink);
}
/* GRID system */
.footer__bottom{
    width: 100%;
    font-size: var(--fs-footer-details);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}
.footer__terms{
    padding: 3rem 2.5vw;
    text-align: center;
}
.footer__credit{
    padding: 3rem 2.5vw;
    text-align: center;
}


/* RESPONSIVE */
.phone-menu-icon-container{
    display: none;
}
nav.phone{
    display: none;
}
/* Menu icon for phone + phone menu */
@media (max-width: 900px){
    header{
        align-items: stretch;
    }
    nav.desktop{
        display: none;
    }
    .phone-menu-icon-container{
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .phone-menu-icon-bar{
        height: 9px;
        width: 100%;
        border-radius: 0.5rem;
        background-color: var(--white);
        opacity: 1;
        transition: 200ms;
    }
    .phone-menu-icon-bar.top.active{
        transform-origin: right;
        transform: rotate(-45deg);
        width: 92%; 
    }
    .phone-menu-icon-bar.middle.active{
        opacity: 0;
    }
    .phone-menu-icon-bar.bottom.active{
        transform-origin: right;
        transform: rotate(45deg);
        width: 92%;
    }
    nav.phone{
        position: absolute;
        top: 6rem;
        left: 100%;
        height: calc(100vh - 6rem);
        width: 100%;
        display: block;
        background-color: var(--pink);
        transition: 250ms;
        z-index: 4 ;
    }
    nav.phone.active{
        transform: translateX(-100%);
    }
    .header__options-phone{
        height: 100%;
        width: 100%;
        font-size: var(--fs-header-link);
        font-weight: var(--semibold);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5vh;
    }
    .header__option.phone{
        flex-basis: 10%;
        width: 75%;
        display: flex;
    }
    .header__link.phone{
        width: 100%;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__link.phone:hover{
        color: var(--white);
        background-color: var(--pink-hover);
    }
    .header__option-logout{
        flex-basis: 0;
    }
}
@media (max-height: 750px){
    nav.phone{
        top: 5rem;
        height: calc(100vh - 5rem);
    }
}
/* Change menu icon dimensions for phone in case of a maxium height of 750px */
@media (max-width: 900px) and (max-height: 750px){
    .phone-menu-icon-container{
        width: 40px;
    }
    .phone-menu-icon-bar{
        height: 6px;
    }
}
/* For footer */
@media(max-width: 1050px) and (min-height: 750px), (max-width: 950px) and (max-height: 750px){
    /* GRID system -> new FLEX system */
    .footer__grid-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 0rem;
    }
    .footer__about-options{
        flex-direction: row;
    }
    /* GRID system -> new FLEX system */
    .footer__bottom{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }
}
@media(max-width: 775px){
    .footer__about-options{
        flex-direction: column;
    }
}
/* Change font-size */
@media (max-height: 750px){
    .header__site-name{
        font-size: var(--fs-title);
    }
    .header__options{
        font-size: var(--fs-phone-header-link);
    }
    .header__logout-button{
        font-size: var(--fs-phone-header-link);
    }
    .footer__subtitle{
        font-size: var(--fs-subtitle);
    }
    .footer__about-options{
        font-size: var(--fs-phone-description);
    }
    .footer__review-description{
        font-size: var(--fs-phone-description);
    }
    input[type=text].footer__review-input{   
        font-size: var(--fs-phone-description);
    }
    .footer__review-button{
        font-size: var(--fs-description);
    }
    .footer__bottom{
        font-size: var(--fs-phone-footer-details);
    }
}
