/* CSS file common for pre_login_base.html and post_login_base.html */

/* CSS standard */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    padding: 3px 5px 4px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul,
dl {
    list-style: none;
}

q:before,
q:after {
    content: "";
}

a{
    text-decoration: none;
}

/* CSS general */

:root {
    --blue: #608DB8;
    --light-blue: #7294B9;
    --background-grey: #F2F2F2;
    --background-grey-hover: #EBEBEB;
    --grey: #8C98AD;
    --dark-grey: #3B3941;
    --turcoise: #7EBDC2;
    --turcoise-hover-dark: #59ABB1;
    --yellow: #FFBC42;
    --green: #4CB944;
    --violet: #8338EC;
    --plum: #F397D6;
    --light-pink: #C4A4A4; /* FIGMA */
    --glow-light-pink: #D7C1C1;
    --pink: #D47E73; /* FIGMA */
    --pink-hover-light: #E7B7B1;
    --pink-hover: #D7897E;
    --pink-hover-dark: #C55344;
    --pink-0: rgba(215, 137, 126, 0); /* Landing Page Gradient Background Pink */
    --pink-50: rgba(215, 137, 126, 0.5); /* Landing Page Gradient Background Pink */
    --glow-pink: #d49991; /* HOVER FOR PINK */
    --dark-pink: #7B5A60; /* FIGMA */
    --glow-dark-pink: #A07E85; /* HOVER FOR DARK PINK */
    --white: #FFFFFF;
    --white-12-5: rgb(255, 255, 255, 0.125);
    --white-25: rgb(255, 255, 255, 0.25);
    --white-50: rgb(255, 255, 255, 0.5);
    --white-75: rgb(255, 255, 255, 0.75);
    --black: #000000;
    --black-12-5: rgb(0, 0, 0, 0.125);
    --black-25: rgb(0, 0, 0, 0.25);
    --black-50: rgb(0, 0, 0, 0.5);

    --stat-bad: #CF7063;
    --stat-bad-hover: #BB493A;
    --stat-good: #4CB944;
    --stat-good-hover: #3D9537;
    --stat-perfect: #FFBC42;
    --stat-perfect-hover: #FFA90A;

    --bg-novice: rgb(131, 56, 236, 0.15);
    --fg-novice: rgb(131, 56, 236, 0.75);
    --bg-beginner: rgb(245, 0, 184, 0.15);
    --fg-beginner: rgb(245, 0, 184, 0.75);
    --bg-intermediate: rgb(255, 56, 128, 0.15);
    --fg-intermediate: rgb(255, 56, 128, 0.75);
    --bg-advanced: rgb(255, 132, 85, 0.15);
    --fg-advanced: rgb(255, 132, 85, 0.75);
    --bg-expert: rgb(76, 185, 68, 0.15);
    --fg-expert: rgb(76, 185, 68, 0.75);
    --bg-master: rgb(255, 188, 66, 0.2);
    --fg-master: rgb(255, 188, 66, 1);
    
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;

    --fs-big-title: 3rem;
    --fs-title: 2rem;
    --fs-big-subtitle: 1.6rem;
    --fs-subtitle: 1.4rem;
    --fs-read: 1.2rem;
    --fs-description: 1.125rem;
    --fs-phone-description: 1rem;
    /* Special fonts */
    --fs-header-link: 1.25rem;
    --fs-phone-header-link: 1.15rem;
    --fs-footer-details: 1rem;
    --fs-phone-footer-details: 0.8rem;
}