/* COMMON */

/* For position: sticky; */
.content-container-two{
    overflow: visible;
}

/* Top container */
.destination__top-container{
    padding: 4.5rem 5vw;
    border-bottom: 1.5rem solid var(--background-grey);
    box-sizing: border-box;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destination__title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
form.destination__buttons{
    display: flex;
    align-items: center;
    gap: 4.5rem;
}
button{
    padding: 0.4rem 1.3rem;
    box-sizing: border-box;
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    border-radius: 0.5rem;
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}
button.destination__button-wishlist.true{
    border: 0.2rem solid var(--pink);
    background-color: var(--pink);
}
button.destination__button-wishlist.true:hover{
    background-color: var(--white);
    color: var(--pink);
}
button.destination__button-wishlist.false{
    border: 0.2rem solid var(--light-pink);
    background-color: var(--light-pink);
}
button.destination__button-wishlist.false:hover{
    background-color: var(--white);
    color: var(--light-pink);
}
button.destination__button-visited.true{
    border: 0.2rem solid var(--pink);
    background-color: var(--pink);
}
button.destination__button-visited.true:hover{
    background-color: var(--white);
    color: var(--pink);
}
button.destination__button-visited.false{
    border: 0.2rem solid var(--turcoise);
    background-color: var(--turcoise);
}
button.destination__button-visited.false:hover{
    background-color: var(--white);
    color: var(--turcoise);
}
/* Style for dialog element (modal) */
.modal__background-grey{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--black-50);
    z-index: 3;
}
.modal__background-grey.inactive{
    display: none;
}
dialog[open].modal{
    position: absolute;
    left: calc(50% - 375px);
    padding: 3rem;
    box-sizing: border-box;
    width: 750px;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem var(--black-25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 3;
}
.modal__title{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}
.modal__buttons-container{
    display: flex;
    gap: 3rem;
}
.modal__button{
    text-decoration: none;
    padding: 0.4rem 1.3rem;
    box-sizing: border-box;
    max-width: fit-content;
    min-width: fit-content;
    font-size: var(--fs-read);
    font-weight: var(--semibold);
    border-radius: 0.5rem;
    color: var(--white);
    cursor: pointer;
    transition: 250ms;
}
.modal__button.now{
    border: 0.2rem solid var(--turcoise);
    background-color: var(--turcoise);
}
.modal__button:hover{
    background-color: var(--white);
    color: var(--turcoise)
}
.modal__button.close{
    border: 0.2rem solid var(--pink);
    background-color: var(--pink);
}
.modal__button.close:hover{
    background-color: var(--white);
    color: var(--pink);
}


/* Middle container */
.destination__middle-container{
    position: sticky;
    top: 0;
    padding: 3rem 5vw;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.destination__options{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.destination__option{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-decoration: underline 4px var(--white);
    text-underline-offset: 8px;
    cursor: pointer;
    transition: 250ms;
}
.destination__option:hover{
    color: var(--grey);
}
.destination__option.active{
    text-decoration-color: var(--pink);
}
.destination__option.active:hover{
    color: var(--dark-grey);
}


/* Bottom container */
section{
    padding: 1.5rem 5vw 4.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    display: none;
}
.section__description{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
}
.section__description.no-data{
    color: var(--pink);
}



/* DIFFERENT */
section.active{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4.5rem;
}


/* For Travel itineraries section */
.travel-itineraries__intro{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
form.travel-itineraries__steps{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
.travel-itineraries__step{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.travel-itineraries__days-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1.5rem;
}
.travel-itineraries__day{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
input[type=radio]{
    appearance: none;
    border: 0.2rem solid var(--dark-grey);
    min-width: 25px;
    max-width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    transition: 250ms;
}
input[type=radio]:hover{
    border: 0.2rem solid var(--grey);
}
input[type=radio]:hover ~ .travel-itineraries__day-text{
    color: var(--grey);
}
input[type=radio]:checked{
    border: 0.2rem solid var(--pink);
    background-color: var(--pink);
}
input[type=radio]:checked ~ .travel-itineraries__day-text{
    color: var(--pink);
}
.travel-itineraries__day-text{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    transition: 250ms;
}
.travel-itineraries__objectives-container{
    width: calc(50% + 3rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
input[type=text]{   
    font-size: var(--fs-read);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
    transition: 250ms;
}
input[type=text]:focus{
    /* Properties when input is focused */
    outline: none;
}
input[type=text]::placeholder{
    /* Properties for placeholder */
    font-style: italic;
    color: var(--grey);
    transition: 250ms;   
}
input[type=text].travel-itineraries__input{
    width: 100%;
}
ol.travel-itineraries__objectives{
    list-style-type: decimal;
    list-style-position: inside;
    padding-right: 3.75rem;
    box-sizing: border-box;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow-y: scroll;
}
ol.travel-itineraries__objectives::-webkit-scrollbar{
    width: 25px;
}
ol.travel-itineraries__objectives::-webkit-scrollbar-track {
    background-color: var(--black-12-5);
    border-radius: 25px;
}
ol.travel-itineraries__objectives::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--black-12-5);
    border-radius: 25px;
    transition: 250ms;
}
ol.travel-itineraries__objectives::-webkit-scrollbar-thumb:hover{
    background-color: var(--black-50);
}
li.travel-itineraries__objective{
    font-size: var(--fs-read);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
li.travel-itineraries__objective.inactive{
    display: none;
}
.travel-itineraries__objective-text{
    transition: 250ms;
}
input[type=checkbox].travel-itineraries__objective-checkbox{
    appearance: none;
    border: 0.2rem solid var(--dark-grey);
    min-width: 25px;
    max-width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    background-color: var(--white);
    cursor: pointer;
    transition: 250ms;
}
input[type=checkbox].travel-itineraries__objective-checkbox:hover{
    border: 0.2rem solid var(--grey);
}
input[type=checkbox].travel-itineraries__objective-checkbox:checked{
    border: 0.2rem solid var(--pink);
    background-color: var(--pink);
}
.travel-itineraries__results-not-found{
    display: none;
    font-size: var(--fs-read);
    font-weight: var(--semibold);
    color: var(--grey);
}
.travel-itineraries__results-not-found.active{
    display: block;
}
.travel-itineraries__algorithm-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.travel-itineraries__algorithm{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.travel-itineraries__algorithm-name{
    font-size: var(--fs-read);
    color: var(--dark-grey);
    transition: 250ms;
}
input[type=radio]:hover ~ .travel-itineraries__algorithm-name{
    color: var(--grey);
}
input[type=radio]:checked ~ .travel-itineraries__algorithm-name{
    color: var(--pink);
}
.travel-itineraries__algorithm-info-icon{
    cursor: pointer;
}
.travel-itineraries__algorithm-details{
    display: none;
    font-size: var(--fs-description);
}
.travel-itineraries__algorithm-details.active{
    display: block;
}
.travel-itineraries__optional-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
input[type=text].optional__name-input{
    width: calc(50% + 3rem);
}
input[type=text].optional__description-input{
    width: calc(50% + 3rem);
}
button.travel-itineraries__generate-button{
    align-self: flex-start;
    font-size: var(--fs-read);
    outline: 0.2rem solid var(--dark-grey);
    background-color: var(--dark-grey);
    color: var(--white);
}
button.travel-itineraries__generate-button:hover{
    background-color: var(--white);
    color: var(--dark-grey);
}
button.travel-itineraries__generate-button.disabled{
    outline: 0.2rem solid var(--black-12-5);
    background-color: var(--black-12-5);
    cursor: default;
}
button.travel-itineraries__generate-button.disabled:hover{
    background-color: var(--black-12-5);
    color: var(--white);
}
.travel-itineraries__disclaimer{
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.travel-itineraries__disclaimer-title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.travel-itineraries__disclaimer-description{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
}


/* For Wikipedia section */
section.section.wikipedia.active{
    gap: 4rem;
}
.wikipedia__content > *{
    padding: 0.5rem 0vw;
    font-size: 1.2rem;
    font-weight: var(--medium);
    color: var(--dark-grey);
}
.wikipedia__content > h1{
    padding: 3rem 0vw;
    font-size: 2rem;
    font-weight: var(--semibold);
}
.wikipedia__content > h2{
    padding: 2.5rem 0vw;
    font-size: 1.8rem;
    font-weight: var(--semibold);
}
.wikipedia__content > h3{
    padding: 2rem 0vw;
    font-size: 1.6rem;
    font-weight: var(--semibold);
}
.wikipedia__content > h4{
    padding: 1.5rem 0vw;
    font-size: 1.4rem;
    font-weight: var(--semibold);
}
.wikipedia__content > p{
    padding: 0.5rem 0vw;
    font-size: 1.2rem;
    font-weight: var(--medium);
}
.wikipedia__content > p.mw-empty-elt{
    display: none;
}


/* For Photos section */
.photos__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 4.5rem;
}
.photos__photo-container{
    aspect-ratio: 1.5/1;
    border-radius: 0.5rem;
    max-width: 800px;
    min-width: 400px;
    overflow: hidden;
}
.photos__photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
}
.photos__photo:hover{
    transform: scale(1.2);
}
.photos__more-photos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.photos__more-photos-message{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
}
ul.photos__website-links{
    list-style: disc inside;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
li.photos__website-bullet{
    color: var(--grey);
}
.photos__website-link{
    text-decoration: underline;
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--blue);
    transition: 250ms;
}
.photos__website-link:hover{
    color: var(--grey);
}

/* For Statistics section */
.statistics__content{
    padding: 3.75rem 0vw;
    max-height: 500px;
    min-height: 500px;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--background-grey);
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    gap: 3rem;
    overflow-x: scroll;
    transition: 250ms;
}
.statistics__content:hover{
    background-color: var(--background-grey-hover);
}
.statistics__content:hover > .statistics__column{
    background-color: var(--background-grey-hover);
}
.statistics__content::-webkit-scrollbar{
    height: 1rem;
}
.statistics__content::-webkit-scrollbar-track {
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
}
.statistics__content::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
    transition: 250ms;
}
.statistics__content::-webkit-scrollbar-thumb:hover{
    background-color: var(--black-50);
}
.statistics__column{
    min-width: 148px;
    border-radius: 1rem;
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    transition: 250ms;
}
.statistics__field{
    height: 10%;
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.statistics__line{
    width: 25%;
    border-radius: 1rem;
    background-color: var(--pink);
    transition: 250ms;
}
.statistics__line.empty{
    background-color: var(--grey);
}
.statistics__line.bad{
    background-color: var(--stat-bad);
}
.statistics__line.bad:hover{
    background-color: var(--stat-bad-hover);
}
.statistics__line.good{
    background-color: var(--stat-good);
}
.statistics__line.good:hover{
    background-color: var(--stat-good-hover);
}
.statistics__line.perfect{
    background-color: var(--stat-perfect);
}
.statistics__line.perfect:hover{
    background-color: var(--stat-perfect-hover);
}
.statistics__line-number{
    height: 10%;
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}

/* For Reviews section */
.reviews__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
.reviews__review-card{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: 250ms;
}
.reviews__review-details{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.reviews__user-data{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.reviews__photo-container{
    max-width: 100px;
    min-width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.reviews__photo{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__photo-like{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.profile__photo-like.one{
    background-color: var(--pink);
    color: var(--white-75);
}
.profile__photo-like.two{
    background-color: var(--light-pink);
    color: var(--white-75);
}
.profile__photo-like.three{
    background-color: var(--pink-hover-dark);
    color: var(--white-75);
}
.reviews__user{
    justify-self: flex-start;
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
.reviews__date{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);
}
.reviews__text{
    font-size: var(--fs-read);
    font-weight: var(--medium);
    color: var(--dark-grey);
}

/* For Weather section */
.weather__content{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.weather__day-container{
    padding: 0rem 0vw 3.75rem 0vw;
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    overflow-x: scroll;
}
.weather__day-container::-webkit-scrollbar{
    height: 1rem;
}
.weather__day-container::-webkit-scrollbar-track {
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
}
.weather__day-container::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
    transition: 250ms;
}
.weather__day-container::-webkit-scrollbar-thumb:hover{
    background-color: var(--black-50);
}
.weather__day-subtitle{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
.weather__per-hours-container{
    display: flex;
    gap: 9rem;
}
.weather__hour-container{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.weather__icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather__hour{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}
.weather__temperature{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}
.weather__feels-like{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);
    text-align: center;
}



/* FOOTER */
.footer__grid-container {
    column-gap: 6rem;
}
.footer__subtitle{
    text-align: left;
}
.footer__about{
    padding: 3rem 0vw;
}
.footer__about-option{
    text-align: left;
}
.footer__review {
    padding: 3rem 0vw;
}
.footer__review-form{
    align-items: flex-start;
}
.footer__review-description{
    text-align: left;
}
.footer__bottom{
    column-gap: 6rem;
}
.footer__terms{
    padding: 3rem 0vw;
    text-align: left;
}
.footer__credit{
    padding: 3rem 0vw;
    text-align: left;
}



/* RESPONSIVE */
/* For phone menu */
@media (max-width: 900px) {
    .content-container-two{
        overflow: hidden;
    }
}
@media (max-width: 650px){
    .footer__bottom{
        flex-direction: column;
        gap: 0rem;
    }
}

/* TODO -> font-size for phone */