/* COMMON */

.visited-destinations, .wishlisted-destinations, .most-visited, .most-reviewed, .all-destinations{
    padding: 4.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
}
.destinations__subtitle{
    width: 100%;
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}

/* Destination card */
.specific-destinations__destination, .all-destinations__destination{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}
.destinations__image-container{
    position: relative;
    aspect-ratio: 1.5/1;
    border-radius: 0.5rem;
    overflow: hidden;
}
.destinations__image-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    opacity: 0.5;
    background-color: var(--dark-grey);
    overflow: hidden;
    transition: 250ms;
}
.specific-destinations__destination:hover .destinations__image-container::before{
    left: 0;
}
.all-destinations__destination:hover .destinations__image-container::before{
    left: 0;
} 
.destinations__image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 250ms;
}
.visited-destinations__open-button, .visited-destinations__evaluate-button, .visited-destinations__itineraries-button, .wishlisted-destinations__open-button, .most-visited-destinations__open-button, .most-reviewed-destinations__open-button, .all-destinations__open-button{
    position: absolute;
    left: 100%;
    height: calc(100% / 3);
    width: 50%;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
    z-index: 3;
}
.destinations__option-cover{
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 300%;
    z-index: 2;
    transition: 250ms;
}
.specific-destinations__name, .all-destinations__name{
    padding: 1.5rem 0vw;
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destinations__results-not-found, .all-destinations__results-not-found{
    padding: 4.5rem 0vw 0rem 0vw;
    color: var(--grey);
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
}

/* Horizontal scrollbar */
.specific-destinations__container::-webkit-scrollbar{
    height: 1rem;
}
.specific-destinations__container::-webkit-scrollbar-track {
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
}
.specific-destinations__container::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
    transition: 250ms;
}
.specific-destinations__container::-webkit-scrollbar-thumb:hover{
    background-color: var(--black-50);
}



/* SPECIFIC */

/* Specific for visited, wishlist, most visited, most reviewed */
.specific-destinations__container{
    padding: 4.5rem 0vw 2.25rem 0vw;
    height: inherit;
    width: 100%;
    display: flex;
    flex: 1 1 0;
    gap: 4.5rem;
    overflow-x: scroll;
}
.specific-destinations__destination{
    max-width: 400px;
    min-width: 400px;
}
.specific-destinations__data-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.specific-destinations__data-text{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
}
.specific-destinations__data-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Visited destinations */
.visited-destinations__open-button{
    top: 0;
    border-radius: 0rem 0.5rem 0rem 0rem;
    background-color: var(--pink);
}
.visited-destinations__evaluate-button{
    top: calc(100% / 3);
    border-radius: 0rem;
    background-color: var(--turcoise);
}
.visited-destinations__itineraries-button{
    top: calc(2 * (100% / 3));
    border-radius: 0rem 0rem 0.5rem 0rem;
    background-color: var(--dark-grey);
}
.specific-destinations__destination:hover .visited-destinations__open-button{
    left: 50%;
}
.specific-destinations__destination:hover .visited-destinations__open-button:hover{
    left: 40%;
    width: 60%;
}
.specific-destinations__destination:hover .visited-destinations__evaluate-button{
    left: 50%;
}
.specific-destinations__destination:hover .visited-destinations__evaluate-button:hover{
    left: 40%;
    width: 60%;
}
.specific-destinations__destination:hover .visited-destinations__itineraries-button{
    left: 50%;
}
.specific-destinations__destination:hover .visited-destinations__itineraries-button:hover{
    left: 40%;
    width: 60%;
}

/* Wishlisted destinations */
.wishlisted-destinations__open-button{
    top: 0;
    height: 100%;
    background-color: var(--light-pink);
}
.specific-destinations__destination:hover .wishlisted-destinations__open-button{
    left: 50%;
}
.specific-destinations__destination:hover .wishlisted-destinations__open-button:hover{
    left: 40%;
    width: 60%;
}

/* Most visited destinations */
.most-visited-destinations__open-button{
    top: 0;
    height: 100%;
    background-color: var(--grey);
}
.specific-destinations__destination:hover .most-visited-destinations__open-button{
    left: 50%;
}
.specific-destinations__destination:hover .most-visited-destinations__open-button:hover{
    left: 40%;
    width: 60%;
}

/* Most reviewed destinations */
.most-reviewed-destinations__open-button{
    top: 0;
    height: 100%;
    background-color: var(--yellow);
}
.specific-destinations__destination:hover .most-reviewed-destinations__open-button{
    left: 50%;
}
.specific-destinations__destination:hover .most-reviewed-destinations__open-button:hover{
    left: 40%;
    width: 60%;
}

/* All destinations */
.all-destinations{
    padding: 4.5rem 5vw 3rem 5vw;
    box-sizing: border-box;
    width: 100%;
}
.all-destinations__container{
    padding: 4.5rem 0vw 0rem 0vw;
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4.5rem;
    column-gap: 6rem;
}
.all-destinations__subtitle-container{
    display: flex;
    align-items: flex-end;
    gap: 6rem;
}
.all-destinations__destination.inactive{
    /* Used when user is searching */
    display: none;
}
input[type=text].all-destinations__input{   
    width: 100%;
    font-size: var(--fs-subtitle);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
    transition: 250ms;
}
input[type=text]:focus{
    /* Properties when input is focused */
    outline: none;
}
input[type=text].all-destinations__input::placeholder{
    /* Properties for placeholder */
    font-style: italic;
    color: var(--grey);
    transition: 250ms;   
}
.all-destinations__open-button{
    top: 0;
    height: 100%;
    background-color: var(--pink);
}
.all-destinations__destination:hover .all-destinations__open-button{
    left: 50%;
}
.all-destinations__destination:hover .all-destinations__open-button:hover{
    left: 40%;
    width: 60%;
}
.all-destinations__results-not-found{
    display: none;
    padding: 0rem 0vw 1.5rem 0vw;
}
.all-destinations__results-not-found.active{
    display: block;
}


/* FOOTER */
.footer__grid-container {
    column-gap: 6rem;
}
.footer__subtitle{
    text-align: left;
}
.footer__about{
    padding: 3rem 0vw;
}
.footer__about-option{
    text-align: left;
}
.footer__review {
    padding: 3rem 0vw;
}
.footer__review-form{
    align-items: flex-start;
}
.footer__review-description{
    text-align: left;
}
.footer__bottom{
    column-gap: 6rem;
}
.footer__terms{
    padding: 3rem 0vw;
    text-align: left;
}
.footer__credit{
    padding: 3rem 0vw;
    text-align: left;
}



/* RESPONSIVE */
@media(max-width: 1400px){
    .all-destinations__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bottom{
        grid-template-columns: repeat(3, 1fr);
    }
    /* Belongs to footer review and footer credit: */
    .footer__grid-col-span-3{
        grid-column: span 2;
    }
}
@media (max-width: 1000px){
    .all-destinations__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .all-destinations__subtitle-container{
        flex-direction: column;
        gap: 4.5rem;
    }
}
@media (max-width: 650px){
    .footer__bottom{
        flex-direction: column;
        gap: 0rem;
    }
}
@media(max-width: 600px){
    /* COMMON */
    .destinations__subtitle{
        text-align: center;
    }
    .specific-destinations__name, .all-destinations__name{
       text-align: center;
    }


    /* SPECIFIC */

    /* Specific for visited, wishlist, most visited, most reviewed */
    .specific-destinations__destination{
        max-width: 250px;
        min-width: 250px;
    }
    .specific-destinations__data-container{
        gap: 5px;
    }

    /* Visited destinations */
    .visited-destinations__open-button, .visited-destinations__evaluate-button, .visited-destinations__itineraries-button{
        width: 60%;
    }
    .specific-destinations__destination:hover .visited-destinations__open-button{
        left: 40%;
    }
    .specific-destinations__destination:hover .visited-destinations__open-button:hover{
        left: 30%;
        width: 70%;
    }
    .specific-destinations__destination:hover .visited-destinations__evaluate-button{
        left: 40%;
    }
    .specific-destinations__destination:hover .visited-destinations__evaluate-button:hover{
        left: 30%;
        width: 70%;
    }
    .specific-destinations__destination:hover .visited-destinations__itineraries-button{
        left: 40%;
    }
    .specific-destinations__destination:hover .visited-destinations__itineraries-button:hover{
        left: 30%;
        width: 70%;
    }

    /* All destinations */
    .all-destinations__container{
        grid-template-columns: 1fr;
    }
}

/* Change font-size */
@media (max-height: 750px) {
    .destinations__subtitle{
        font-size: var(--fs-big-subtitle);
    }
    .visited-destinations__open-button, .visited-destinations__evaluate-button, .visited-destinations__itineraries-button, .wishlisted-destinations__open-button, .most-visited-destinations__open-button, .most-reviewed-destinations__open-button, .all-destinations__open-button{
        font-size: var(--fs-description);
    }
    .specific-destinations__name, .all-destinations__name{
        font-size: var(--fs-big-subtitle);
    }
    .destinations__results-not-found, .all-destinations__results-not-found{
        font-size: var(--fs-description);
    }
    .specific-destinations__data-text{
        font-size: var(--fs-subtitle);
    }
    input[type=text].all-destinations__input{   
        font-size: var(--fs-description);
    }
}