/* COMMON */

main{
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;
    width: 90vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

img.background-image{
    position: absolute;
    top: 0;
    left: -20%;
    width: 120%;
    height: 120%;
    object-fit: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transform: scale(1.05);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.site-name-container{
    flex-basis: 25%;
    font-size: var(--fs-big-title);
    font-weight: var(--medium);
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.site-name{
    color: white;
    cursor: pointer;
    transition: 250ms;
}
.site-name:hover{
    transform: scale(105%);
}
.header-options{
    flex-basis: 50%;
    font-size: var(--fs-header-link);
    font-weight: var(--semibold);
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    justify-content: center;
}
.header-option{
    position: relative;
    color: var(--white);
    cursor: pointer;
    transition: 250ms;
}
.header-option::before{
    position: absolute;
    content: '';
    top: 100%;
    width: 0%;
    height: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    transition: 500ms;
}
.header-option:hover::before{
    width: 100%;
}
.header-option.active{
    transform: translateY(20%);
}
.header-option.active::before{
    width: 100%;
}
.account-buttons{
    flex-basis: 25%;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    justify-content: right;
}
.account-buttons > a{
    padding: 0.4rem 1.2rem;
    color: var(--white);
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}
.login-button{
    background-color: var(--white-25);
    outline: 0.2rem solid var(--white-25);
}
.login-button:hover{
    background-color: transparent;
}
.sign-up-button{
    background-color: var(--pink);
    outline: 0.2rem solid var(--pink);
}
.sign-up-button:hover{
    background-color: transparent;
}

.subtitle{
    position: absolute;
    top: 12.5%;
    left: 15%; 
    width: 70%;
    height: 20vh;
    font-size: var(--fs-big-title);
    font-weight: var(--medium);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section{
    display: none;
    position: absolute;
    top: 32.5%;
    height: 67.5vh;
    width: 90vw;
    color: white;
}



/* DIFFERENT */
/* 1. Intro */
section.intro.active{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.paragraphs{
    height: 12.5vh;
    font-size: var(--fs-subtitle);
    font-weight: var(--regular);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.start-the-journey-button{
    position: absolute;
    top: 50%;
    left: 37.5%;
    width: 25%;
    padding: 1vh;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--white);
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: start-the-journey-animation 10s infinite;
    transition: 500ms;
}
.start-the-journey-button:hover{
    background-position: left;
}
@keyframes start-the-journey-animation{
    0%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.075);
    }
    90%{
        transform: scale(1);
    }
    95%{
        transform: scale(1.075);
    }
    100%{
        transform: scale(1);
    }
}

/* A background gradient used in all the following sections: */
.gradient{
    position: absolute;
    top: 0;
    left: -5vw;
    height: 67.5vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--pink-0), var(--pink-50), var(--blue), var(--blue));
    opacity: 90%;
    z-index: 1;
}

/* 2. About */
section.about.active{
    display: block;
    height: 62.5vh;
}
ul.about__list{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: stretch;
    z-index: 2;
}
li.about__list-element{
    flex-basis: 25%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.about__icon-container{
    flex-basis: 20%;
    border-radius: 0.5rem;
    background-color: var(--white-25);
    box-shadow: 0rem 0rem 1rem var(--black-25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__icon{
    object-fit: content;
}
.about__text{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5vh;
}
.about__title{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
}
.about__description{
    height: 100%;
    font-size: var(--fs-description);
    font-weight: var(--medium);
}

/* 3. Destinations */
section.destinations.active{
    display: block;
    height: 62.5vh;
}
.destinations__container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    z-index: 2;
}
.destinations__text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5vh;
}
.destinations__title{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.destinations__description{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    text-align: center;
}
.destinations__most-visited{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5vh;
}
ul.destinations__list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
li.destinations__list-element{
    position: relative;
    flex-basis: 25%;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem var(--black-25);
    background-color: var(--white-25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinations__icon-container{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}
.destinations__icon{
    object-fit: content;
}
.destinations__name{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}

/* 4. Reviews */
section.reviews.active{
    display: block;
    height: 62.5vh;
}
.reviews__container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10vh;
    z-index: 2;
}
.reviews_text{
    gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.reviews__title{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.reviews__description{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    text-align: center;
}
ul.reviews__list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
li.reviews__list-element{
    flex-basis: 25%;
    border-radius: 0.25rem;
    box-shadow: 0rem 0rem 1rem var(--black-25);
    background-color: var(--white-25);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.reviews__person{
    flex-basis: 15%;
    padding: 0.5rem;
    border-bottom: 0.35rem solid var(--white-50);
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews__review{
    flex-basis: 85%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.reviews__review-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews__review-icon{
    object-fit: cover;
}
.reviews__review-text{
    height: 100%;
    font-size: var(--fs-description);
    font-weight: var(--medium);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 5. Contact */
section.contact.active{
    display: block;
    height: 62.5vh;
}
.contact__container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10vh;
    z-index: 2;
}
.contact__text{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5vh;
}
.contact__title{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.contact__description{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    text-align: center;
}
ul.contact__list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
li.contact__list-element{
    flex-basis: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5vh;
}
.contact__icon-container{
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem var(--black-25);
    background-color: var(--white-25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__icon{
    object-fit: cover;
}
.contact__name{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.contact__details{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.contact__detail{
    flex-basis: 33.3%;
    font-size: var(--fs-description);
    font-weight: var(--medium);
    text-align: center;
}

/* RESPONSIVE */

/* 0. Header */
.header-options{
    display: none;
}
.phone-menu-icon-container{
    display: none;
}
/* Menu icon for phone + phone menu */
@media (max-width: 1100px) and (max-height: 700px), (max-width: 800px){
    .header-background{
        position: absolute;
        top: 0;
        left: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        height: 12.5vh;
        width: 90vw; /* 5vw are left and right padding */
        background-color: var(--light-blue);
        transition: 250ms;
        z-index: 0;
    }
    .header-background.active{
        transform: translateX(-100%);
    }
    .account-buttons{
        display: none;
    }
    header{
        justify-content: space-between;
        align-items: stretch;
    }
    .site-name-container{
        flex-basis: content;
    }
    .phone-menu-icon-container{
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .phone-menu-icon-bar{
        height: 9px;
        width: 100%;
        border-radius: 0.5rem;
        background-color: var(--white);
        opacity: 1;
        transition: 200ms;
    }
    .phone-menu-icon-bar.top.active{
        transform-origin: right;
        transform: rotate(-45deg);
        width: 92%; 
    }
    .phone-menu-icon-bar.middle.active{
        opacity: 0;
    }
    .phone-menu-icon-bar.bottom.active{
        transform-origin: right;
        transform: rotate(45deg);
        width: 92%;
    }
    nav.phone-menu{
        position: absolute;
        top: 6rem;
        left: 100%;
        height: calc(100vh - 6rem);
        width: 100%;
        background-color: var(--light-blue);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        transition: 250ms;
        z-index: 3;
    }
    nav.phone-menu.active{
        transform: translateX(-100%);
    }
    .header-options.phone{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0.75vh;
    }
    .header-options.phone > li{
        flex-basis: 15%;
        width: 75%;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: 250ms;
    }
    .header-options.phone > li:hover{
        background-color: var(--blue);
    }
    .header-options.phone > li::before{
        content: none;
    }
    .account-buttons.phone{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5vh;
    }
}
@media (max-height: 750px){
    nav.phone-menu{
        top: 5rem;
        height: calc(100vh - 5rem);
    }
}

/* 1. Intro */
@media (max-width: 1200px) and (min-height: 700px), (max-width: 800px){
    .subtitle{
        left: 10%;
        width: 80%;
    }
    .start-the-journey-button{
        left: 30%;
        width: 40%;
    }
}
@media (max-width: 700px){
    .subtitle{
        display: none;
    }
    .intro{
        align-items: stretch;
    }
    .paragraph{
        text-align: center;
    }
    .start-the-journey-button{
        left: 12.5%;
        width: 75%;
    }
}
@media (max-width: 350px){
    .start-the-journey-button{
        height: 14%;
    }
}

/* COMMON for the following sections */
/* 1. Background gradient used in all the following sections */
/* 2. Scroll bar */
@media (max-width: 700px){
    .gradient{
        height: 85vh;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}

/* 2. About */
@media (max-width: 700px){
    section.about.active{
        top: 15%;
        height: 80vh;
    }
    ul.about__list{
        border-radius: 0.5rem;
        justify-content: inherit;
        gap: 7.5vh;
        overflow-y: scroll;
    }
    li.about__list-element{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }
    li.about__list-element.right{
        flex-direction: column-reverse;
    }
    .about__title{
        text-align: center;
    }
    .about__description{
        font-weight: var(--regular);
        text-align: center;
    }
}
/* 3. Destinations */
@media (max-width: 700px){
    section.destinations.active{
        top: 15%;
        height: 80vh;
    }
    .destinations__container{
        border-radius: 0.5rem;
        justify-content: inherit;
        gap: 7.5vh;
        overflow-y: scroll;
    }
    ul.destinations__list{
        flex-direction: column;
        gap: 5vh;
    }
    li.destinations__list-element{
        justify-content: flex-start;
        gap: 2.5vh;
    }
    .destinations__icon-container{
        position: relative;
    }
}
/* 4. Reviews */
@media (max-width: 1200px) and (min-height: 700px), (max-width: 1000px){
    .reviews__container{
        border-radius: 0.25rem;
        overflow-y: scroll;
    }
    .reviews__container::-webkit-scrollbar {
        width: 10px;
    }
    .reviews__container::-webkit-scrollbar-track {
        background-color: var(--white-25);
        border-radius: 0.5rem;
    }
    .reviews__container::-webkit-scrollbar-thumb {
        background-color: var(--white-50);
        border-radius: 0.5rem;
    }
    ul.reviews__list{
        flex-direction: column;
        gap: 5vh;
    }
    li.reviews__list-element{
        margin-left: 12.5%;
        margin-right: 12.5%;
        width: 75%;
    }
} 
@media (max-width: 700px){
    section.reviews.active{
        top: 15%;
        height: 80vh;
    }
    .reviews__container{
        gap: 7.5vh;
    }
    ul.reviews__list{
        justify-content: inherit;
        gap: 7.5vh;
    }
    li.reviews__list-element{
        margin: 0;
        width: 100%;
    }
    .reviews__review-text{
        font-weight: var(--regular);
    }
}
/* 5. Contact */
@media (max-width: 1200px) and (min-height: 700px), (max-width: 800px){
    .contact__container{
        border-radius: 0.5rem;
        overflow-y: scroll;
    }
    .contact__container::-webkit-scrollbar {
        width: 10px;
    }
    .contact__container::-webkit-scrollbar-track {
        background-color: var(--white-25);
        border-radius: 0.5rem;
    }
    .contact__container::-webkit-scrollbar-thumb {
        background-color: var(--white-50);
        border-radius: 0.5rem;
    }
    ul.contact__list{
        flex-wrap: wrap;
        gap: 10vh;
    }
    li.contact__list-element{
        flex-basis: 40%;
    }
    .contact__icon-container{
        height: max-content;
    }
}
@media (max-width: 700px){
    section.contact.active{
        top: 15%;
        height: 80vh;
    }
    .contact__container{
        gap: 7.5vh;
    }
    ul.contact__list{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        gap: 7.5vh;
    }
    li.contact__list-element{
        flex-basis: 0;
    }
    .contact__detail{
        font-weight: var(--regular);
    }
}

/* General */
/* Change font-size */
@media (max-height: 750px){
    .site-name-container{
        font-size: var(--fs-title);
    }
    .header-options{
        font-size: var(--fs-phone-header-link);
    }
    .account-buttons{
        font-size: var(--fs-description);
    }
    .subtitle{
        font-size: var(--fs-title);
    }
    .paragraphs{
        font-size: var(--fs-description);
    }
    .start-the-journey-button{
        font-size: var(--fs-description);
    }
    .about__title{
        font-size: var(--fs-description);
    }
    .about__description{
        font-size: var(--fs-phone-description);
    }
    .destinations__title{
        font-size: var(--fs-subtitle);
    }
    .destinations__description{
        font-size: var(--fs-phone-description);
    }
    .destinations__name{
        font-size: var(--fs-description);
    }
    .reviews__title{
        font-size: var(--fs-subtitle);
    }
    .reviews__description{
        font-size: var(--fs-phone-description);
    }
    .reviews__person{
        font-size: var(--fs-description);
    }
    .reviews__person{
        font-size: var(--fs-description);
    }
    .contact__title{
        font-size: var(--fs-subtitle);
    }
    .contact__description{
        font-size: var(--fs-phone-description);
    }
    .contact__name{
        font-size: var(--fs-description);
    }
    .contact__detail{
        font-size: var(--fs-phone-description);
    }
}