/* All itineraries */

main.itineraries{
    padding: 4.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
/* Intro */
.itineraries__title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
.itineraries__intro{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
}
.itineraries__intro-link{
    color: var(--blue);
    text-decoration: underline;
    transition: 250ms;
}
.itineraries__intro-link:hover{
    color: var(--grey);
}
/* Content */
.itineraries__grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 4.5rem;
}
.itineraries__itinerary{
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.5rem var(--black-25);
    display: flex;
    overflow: hidden;
    transition: 250ms;
}
.itineraries__itinerary:hover > .itineraries__itinerary-open-button-container{
    left: 50%;
}
.itineraries__itinerary-text{
    width: 100%;
    height: 100%;
    padding: 3rem 2.5vw 3rem 2.5vw;
    box-sizing: border-box;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    transition: 250ms;
}
.itineraries__itinerary-text::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    opacity: 0.5;
    background-color: var(--dark-grey);
    transition: 250ms;
}
.itineraries__itinerary:hover .itineraries__itinerary-text::before{
    left: 0;
}
.itineraries__itinerary-name{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
}
.itineraries__itinerary-details{
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}
.itineraries__itinerary-detail{
    font-size: var(--fs-description);
    font-weight: var(--medium);
}
.itineraries__itinerary-important-detail{
    font-weight: var(--semibold);
}
.itineraries__itinerary-open-button-container{
    position: absolute;
    left: 100%;
    height: 100%;
    width: 50%;
    transition: 250ms;
    z-index: 3;
}
.itineraries__open-button{
    height: 100%;
    width: 100%;
    padding: 0.4rem 1.3rem;
    box-sizing: border-box;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}



/* SPECIFIC itinerary */

main.itinerary{
    padding: 4.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9rem;
}
section.itinerary__main{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
.itinerary__title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}
.itinerary__description{
    font-style: italic;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);  
}
.itinerary__details{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.itinerary__detail{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.itinerary__detail-text{
    font-size: var(--fs-big-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}

/* Representation section */
section.itinerary__representation{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.representation__title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}
.representaion__intro{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);  
}
.representation__image-container{
    height: fit-content;
    width: fit-content;
}
ul.representation__legend{
    padding: 1.75rem 1.75rem 0rem 1.75rem;
    box-sizing: border-box;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: var(--background-grey);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.representation__legend-item{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.representation__legend-text{
    width: 75px;
    font-size: var(--fs-description);
    font-weight: var(--medium);
    color: var(--black);  
}
.representation__legend-color{
    height: 0.75rem;
    width: 50px;
    opacity: 0.5;
    background-color: var(--pink);
    border-radius: 1rem;
}
.representation__image{
    border-radius: 0rem 0rem 1rem 1rem;
}

/* Program */
ul.itinerary__days{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}
li.itinerary__day{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.itinerary__day-title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}
.itinerary__day-objectives{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.itinerary__objective-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.itinerary__objective-name{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}
.itinerary__objective-details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.itinerary__objective-detail-title{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);
}
.itinerary__objective-detail{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    color: var(--grey); 
    display: flex;
    gap: 0.5rem;
}

/* Delete */
section.itinerary__delete{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.delete__title{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);  
}
.delete__intro{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);  
}
form.delete__form{
    align-self: flex-start;
}
button.delete__button{
    padding: 0.4rem 1.3rem;
    box-sizing: border-box;
    font-size: var(--fs-read);
    font-weight: var(--semibold);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--dark-pink);
    background-color: var(--dark-pink);
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 250ms;
}
button.delete__button:hover{
    background-color: var(--white);
    color: var(--dark-pink);
}


/* FOOTER */
.footer__grid-container {
    column-gap: 6rem;
}
.footer__subtitle{
    text-align: left;
}
.footer__about{
    padding: 3rem 0vw;
}
.footer__about-option{
    text-align: left;
}
.footer__review {
    padding: 3rem 0vw;
}
.footer__review-form{
    align-items: flex-start;
}
.footer__review-description{
    text-align: left;
}
.footer__bottom{
    column-gap: 6rem;
}
.footer__terms{
    padding: 3rem 0vw;
    text-align: left;
}
.footer__credit{
    padding: 3rem 0vw;
    text-align: left;
}



/* RESPONSIVE */
/* All itineraries */
@media (max-width: 1400px) {
    .itineraries__grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 850px) {
    .itineraries__grid-container{
        grid-template-columns: 1fr;
    }
}
/* Specific itinerary */
@media(max-width: 750px) {
    .representation__image-container {
        width: 100%;
    }
    .representation__image {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .itinerary__objective-details {
        gap: 1rem;
    }
    .itinerary__objective-detail {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
/* Footer */
@media (max-width: 650px){
    .footer__bottom{
        flex-direction: column;
        gap: 0rem;
    }
}

/* Change font-size */
@media (max-height: 750px) {
    /* All itineraries */
    .itineraries__title{
        font-size: var(--fs-big-subtitle);
    }
    .itineraries__intro{
        font-size: var(--fs-description);
    }
    .itineraries__itinerary-name{
        font-size: var(--fs-description);
    }
    .itineraries__itinerary-detail{
        font-size: var(--fs-phone-description);
    }
    .itineraries__open-button{
        font-size: var(--fs-description);
    }
    /* Specific itinerary */
    .itinerary__title{
        font-size: var(--fs-big-subtitle); 
    }
    .itinerary__description{
        font-size: var(--fs-description); 
    }
    .itinerary__detail-text{
        font-size: var(--fs-subtitle); 
    }
    .representation__title{
        font-size: var(--fs-big-subtitle);
    }
    .representaion__intro{
        font-size: var(--fs-description);
    }
    .itinerary__day-title{
        font-size: var(--fs-big-subtitle);
    }
    .itinerary__objective-name{
        font-size: var(--fs-description);
    }
    .itinerary__objective-detail-title{
        font-size: var(--fs-phone-description);
    }
    .itinerary__objective-detail{
        font-size: var(--fs-phone-description);
    }
    .delete__title{
        font-size: var(--fs-big-subtitle);
    }
    .delete__intro{
        font-size: var(--fs-phone-description);
    }
    button.delete__button{
        font-size: var(--fs-description);
    }
}