main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* LEFT SIDE */
section.main-content{
    flex-basis: 40%;
    padding: 10vh 5% 5vh 5%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

/* top */
.welcome{
    font-size: clamp(2.5rem, 5vh, 7.5vh);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}

/* middle */
.login-form{
    height: 100%;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15vh;
}
.user-credentials{
    width: 85%;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6vh;
}
.email-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.email{
    font-size: clamp(1.2rem, 2.5vh, 7.5vh);
    font-weight: var(--bold);
}
input[type=text]{
    width: 100%;
    font-size: clamp(1rem, 2.1vh, 7.5vh);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
}
input[type=text]:focus{
    outline: none;
   
}
.password-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;

}
.password{
    font-size: clamp(1.2rem, 2.5vh, 7.5vh);
    font-weight: var(--bold);
}
input[type=password]{
    width: 100%;
    font-size: clamp(1rem, 2.1vh, 7.5vh);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
    font-family: Verdana;
}
input[type=password]:focus{
    outline: none;
   
}
.login-button{
    position: relative;
    width: 35%;
    padding: 1vh;
    font-size: clamp(1.2rem, 2.5vh, 7.5vh);
    font-weight: var(--semibold);
    border-radius: 0.25rem;
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
}
.login-button:hover{
    background-position: left;
}

/* bottom */
.sign-up{
    font-size: clamp(0.95rem, 2vh, 7.5vh);
    font-weight: var(--medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answear{
    text-decoration: underline;
    color: var(--blue);
}


/* RIGHT SIDE */
section.side-content{
    flex-basis: 50%;
    color: var(--white);
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.illustration-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.illustration{
    object-fit: cover;
}
.msg_1{
    width: 75%;
    font-size: clamp(1.6rem, 3vh, 7.5vh);
    font-weight: var(--semibold);
    text-align: center;
}


@media (max-width: 1000px){
    section.main-content{
        flex-basis: 100%;
    }
    section.side-content{
        display: none;
    }
    .user-credentials{
        width: 90%;
    }
}
@media (max-width: 650px){
    section.main-content{
         padding-top: 5vh;
    }
    .user-credentials{
        align-items: center;
        gap: 5vh;
    }
    .email-container{
        width: 100%;
        flex-direction: column;
        gap:2.5vh;
    }
    .password-container{
        width: 100%;
        flex-direction: column;
        gap:2.5vh;
    }
    input[type=text]{
        width: 100%;
    }
    input[type=password]{
        width: 100%;
    }
    .login-button{
        width: 60%;
    }
}