main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* LEFT SIDE */
section.main-content{
    flex-basis: 45%;
    padding: 10vh 2.5% 10vh 2.5%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

/* top */
.welcome{
    font-size: var(--fs-big-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    text-align: center;
}

/* middle */
.login-form{
    height: 100%;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15vh;
}
.user-credentials{
    width: 90%;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6vh;
}
.email-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.email{
    font-size: var(--fs-subtitle);
    font-weight: var(--bold);
}
input[type=text]{   
    width: 100%;
    font-size: var(--fs-subtitle);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
}
input[type=text]:focus{
    outline: none;
}
::placeholder {
    color: var(--grey);
    font-style: italic;
    font-weight: var(--regular);
    opacity: 1;
}
.password-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;

}
.password{
    font-size: var(--fs-subtitle);
    font-weight: var(--bold);
}
input[type=password]{
    width: 100%;
    font-size: var(--fs-subtitle);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
    font-family: Verdana;
}
input[type=password]:focus{
    outline: none;  
}
.error::placeholder{
    color: var(--pink);
}
.login-button{
    position: relative;
    width: 35%;
    padding: 1vh;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    border-radius: 0.25rem;
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
}
.login-button:hover{
    background-position: left;
}

/* Bottom */
.sign-up{
    font-size: var(--fs-description);
    font-weight: var(--medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answear{
    text-decoration: underline;
    color: var(--blue);
}


/* RIGHT SIDE */
section.side-content{
    flex-basis: 50%;
    color: var(--white);
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.illustration-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.illustration{
    object-fit: cover;
}
.msg_1{
    width: 75%;
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 1000px){
    section.main-content{
        flex-basis: 100%;
    }
    section.side-content{
        display: none;
    }
}
@media (max-width: 650px){
    section.main-content{
         padding-top: 5vh;
         padding-bottom: 5vh;
    }
    .user-credentials{
        align-items: center;
        gap: 2.5vh;
    }
    .email-container{
        width: 100%;
        flex-direction: column;
        gap: 1.25vh;
    }
    .password-container{
        width: 100%;
        flex-direction: column;
        gap: 1.25vh;
    }
    input[type=text]{
        width: 100%;
    }
    input[type=password]{
        width: 100%;
    }
    .login-button{
        width: 60%;
    }
}
/* Change font-size */
@media (max-height: 750px){
    .welcome{
        font-size: var(--fs-title);
    }
    .email{
        font-size: var(--fs-description);
    }
    input[type=text]{
        font-size: var(--fs-phone-description);
    }
    .password{
        font-size: var(--fs-description);
    }
    input[type=password]{
        font-size: var(--fs-phone-description);
    }
    .login-button{
        font-size: var(--fs-description);
    }
    /* Bottom */
    .sign-up{
        font-size: var(--fs-phone-description);
    }
    /* RIGHT SIDE */
    .msg_1{
        font-size: var(--fs-big-subtitle);
    }
}