/* GRID system */

main.grid-container{
    padding: 4.5rem 5vw;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12rem;
}


/* STYLE */


section.profile-data{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4.5rem;
}
/* User photo */
.profile__photo{
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}
.profile__photo-container{
    width: 30%;
    min-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.profile__photo-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile__add-photo-button{
    padding: 0.5rem;
    height: fit-content;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    cursor: pointer;
    transition: 500ms;
}
.profile__add-photo-button:hover{
    background-position: left;
}
/* User credentials */
.profile__credentials{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.profile__username, .profile__email, .profile__date{
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}
.profile__credential-subtitle{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
}
.profile__credential-data{
    font-size: var(--fs-subtitle);
    font-weight: var(--medium);
    color: var(--dark-grey);
}
.profile__subtitle-container{
    padding: 1.5rem 0vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile__subtitle{
    font-size: var(--fs-title);
    font-weight: var(--semibold);
    color: var(--dark-grey);
}
.profile__subtitle.evaluations{
    padding: 1.5rem 0vw 0rem 0vw;
}
form.profile__change-password-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.profile__change-password-info{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);
}
input[type=password].profile__input{
    width: 100%;
    font-size: var(--fs-subtitle);
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--black);
    font-family: Verdana;
}
input[type=password].profile__input:focus{
    outline: none;  
}
.profile__change-password-button{
    margin-top: 1.5rem;
    padding: 1vh 1.3rem;
    box-sizing: border-box;
    width: fit-content;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    border-radius: 0.25rem;
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    color: var(--white);
    cursor: pointer;
    transition: 500ms;
}
.profile__change-password-button:hover{
    background-position: left;
}
/* User account */
form.profile__delete-account-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.profile__delete-account-info{
    font-size: var(--fs-description);
    font-weight: var(--semibold);
    color: var(--grey);
}
.profile__delete-account-button{
    margin-top: 1.5rem;
    padding: 1vh 1.3rem;
    box-sizing: border-box;
    width: fit-content;
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    border-radius: 0.25rem;
    background: linear-gradient(45deg, var(--dark-pink), var(--glow-dark-pink), var(--dark-pink), var(--dark-pink));
    background-size: 300%;
    background-position: right;
    color: var(--white);
    cursor: pointer;
    transition: 500ms;
}
.profile__delete-account-button:hover{
    background-position: left;
}


section.profile-statistics{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    overflow-x: hidden;
}
ul.profile__stats{
    list-style: disc inside;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
li.profile__stat{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    color: var(--grey);
}
.profile__stat-data{
    color: var(--dark-grey);
}
.profile__graph{
    padding: 0rem 0vw 3.75rem 0vw;
    box-sizing: border-box;
    max-height: 400px;
    min-height: 400px;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    gap: 3rem;
    overflow-x: scroll;
}
.profile__graph::-webkit-scrollbar{
    height: 1rem;
}
.profile__graph::-webkit-scrollbar-track {
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
}
.profile__graph::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--black-12-5);
    border-radius: 0.5rem;
    transition: 250ms;
}
.profile__graph::-webkit-scrollbar-thumb:hover{
    background-color: var(--black-50);
}
.profile__graph-bar{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
}
.profile__graph-year{
    font-size: var(--fs-subtitle);
    font-weight: var(--semibold);
    text-align: center;
}
.profile__graph-line{
    max-width: 50px;
    height: 0%;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--pink);
    transition: 250ms;
}
.profile__graph-line:hover{
    background-color: var(--pink-hover-dark);
}
.profile__graph-line.contains{
    background-color: var(--turcoise);
}
.profile__graph-line.contains:hover{
    background-color: var(--turcoise-hover-dark);
}
.profile__graph-number{
    font-size: var(--fs-subtitle);
    font-weight: var(--bold);
    text-align: center; 
    color: var(--dark-grey);
}
.profile__graph-number.contains{
    font-size: var(--fs-big-subtitle);
    color: var(--turcoise);
}


/* FOOTER */
.footer__grid-container {
    column-gap: 6rem;
}
.footer__subtitle{
    text-align: left;
}
.footer__about{
    padding: 3rem 0vw;
}
.footer__about-option{
    text-align: left;
}
.footer__review {
    padding: 3rem 0vw;
}
.footer__review-form{
    align-items: flex-start;
}
.footer__review-description{
    text-align: left;
}
.footer__bottom{
    column-gap: 6rem;
}
.footer__terms{
    padding: 3rem 0vw;
    text-align: left;
}
.footer__credit{
    padding: 3rem 0vw;
    text-align: left;
}



/* RESPONSIVE */
@media (max-width: 650px){
    .footer__bottom{
        flex-direction: column;
        gap: 0rem;
    }
}