main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* LEFT SIDE */
section.main-content{
    flex-basis:50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}
.sign-up{
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login{
    flex-basis: 10%;
    font-size: 2vh;
    font-weight: var(--medium);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.question{
    flex-basis: 75%;
    text-align: center;
}
/* In .login */
.welcome{
    font-size: clamp(1.5rem, 5vh, 7.5vh);
    font-weight: var(--semibold);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-credentials{
    flex-basis: 25%;
    width: 75%;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.username-container{
    display: flex;
    flex-direction: row;
}
.username{
    flex-basis: 35%;
    font-size: clamp(0.7rem, 2.5vh, 7.5vh);
    font-weight: var(--bold);
}
input[type=text].input-username{
    flex-basis: 60%;
}
.email-container{
    display: flex;
    flex-direction: row;
}
.email{
    flex-basis: 25%;
    font-size: clamp(0.7rem, 2.5vh, 7.5vh);
    font-weight: var(--bold);
}
input[type=text].input-email{
    flex-basis: 70%;
}
input[type=text]{
    font-size: 2vh;
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--pink);
}
input[type=text]:focus{
    outline: none;
}
.password-container{
    display: flex;
    flex-direction: row;
}
.password{
    flex-basis: 35%;
    font-size: clamp(0.7rem, 2.5vh, 7.5vh);
    font-weight: var(--bold);
}
input[type=password]{
    flex-basis: 60%;
    font-size: 2vh;
    font-weight: var(--medium);
    border: none;
    border-bottom: 0.25rem solid var(--dark-grey);
    border-radius: 0.25rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--pink);
    font-family: Verdana;
}
input[type=password]:focus{
    outline: none;
   
}
.sign-up-button{
    position: relative;
    height: 6%;
    width: 25%;
    font-size: clamp(0.7rem, 2.5vh, 7.5vh);
    font-weight: var(--semibold);
    border-radius: 0.25rem;
    background: linear-gradient(45deg, var(--pink), var(--glow-pink), var(--pink), var(--pink));
    background-size: 300%;
    background-position: right;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}
.sign-up-button:hover{
    background-position: left;
}

/* In .sign-up */
.answear{
    text-decoration: underline;
    color: var(--blue);
}

/* RIGHT SIDE */
section.side-content{
    flex-basis: 50%;
    color: var(--white);
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.5vh;
}
.illustration-container{
    width: 75%;
}
.illustration{
    height: 100%;
    width: 100%;
}
.msg_1{
    width: 75%;
    font-size: clamp(1rem, 3vh, 7.5vh);
    font-weight: var(--semibold);
    text-align: center;
}


@media (max-width: 1000px){
    section.main-content{
        flex-basis: 100%;
    }
    section.side-content{
        display: none;
    }
    .user-credentials{
        width: 80%;
    }
}
@media (max-width: 650px){
    .user-credentials{
        align-items: center;
        gap: 5vh;
    }
    .username-container{
        width: 100%;
        flex-direction: column;
        gap:2.5vh;
    }
    .email-container{
        width: 100%;
        flex-direction: column;
        gap:2.5vh;
    }
    .password-container{
        width: 100%;
        flex-direction: column;
        gap:2.5vh;
    }
    .sign-up-button{
        width: 50%;
    }
    input[type=text]{
        width: 100%;
    }
    input[type=password]{
        width: 100%;
    }
}