{% extends "post_login_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/destination_details.css') }}" />
<script src="{{ url_for('static', filename='scripts/destination_details.js') }}" defer></script>
{% endblock %}

{% block title %} Site name | {{city_name}} {% endblock %}

{% block content %}
<main>
    <div class="destination__top-container">
        <h3 class="destination__title">{{ city_name }}</h3>
        <form class="destination__buttons" action="/api/destination_details" method="post">
            {% if city_status.wishlisted == True %}
            <button class="destination__button-wishlist true" type="submit" name="remove-wishlist">Remove from
                wishlist</button>
            {% else %}
            <button class="destination__button-wishlist false" type="submit" name="add-wishlist">Add to
                wishlist</button>
            {% endif %}
            {% if city_status.visited == True %}
            <button class="destination__button-visited true" type="submit" name="remove-visited">Remove from
                visited</button>
            {% else %}
            <button class="destination__button-visited false" type="submit" name="mark-visited">Mark as
                visited</button>
            {% endif %}
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% if "mark as visited" in messages: %}
    <div class="modal__background-grey"></div>
    <dialog open class="modal">
        <p class="modal__title">Destination added to visited list.
        </p>
        <div class="modal__buttons-container">
            <a class="modal__button now" href="/evaluate?city={{city_name}}">Evaluate
                now</a>
            <a class="modal__button close">Ok</a>
        </div>
    </dialog>
    {% endif %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% if "remove from visited" in messages: %}
    <div class="modal__background-grey"></div>
    <dialog open class="modal">
        <p class="modal__title">Destination removed from visited list.
        </p>
        <a class="modal__button close">Ok</a>
    </dialog>
    {% endif %}
    {% endif %}
    {% endwith %}

    <div class="destination__middle-container">
        <ul class="destination__options">
            <li class="destination__option travel-itineraries active">Travel itineraries</li>
            <li class="destination__option wikipedia">Description</li>
            <li class="destination__option photos">Photos</li>
            <li class="destination__option statistics">Statistics</li>
            <li class="destination__option reviews">Reviews</li>
            <li class="destination__option weather">Weather</li>
        </ul>
    </div>
    <section class="section travel-itineraries active">
        <p class="section__description">Create a personalized travel plan for {{city_name}}. We offer you a vast
            selection of up to 250 touristic
            objectives to choose from.</p>
        <p class="travel-itineraries__intro">Follow these simple steps to design your travel itineray:</p>
        <form class="travel-itineraries__steps" action="/api/destination_details" method="post">
            <div class="travel-itineraries__step">
                1. Choose the number of days for your trip:
                <div class="travel-itineraries__days-container">
                    {% for day in range(2, 8, 1) %}
                    <div class="travel-itineraries__day">
                        <input class="travel-itineraries__day-radio" type="radio" value="{{day}}" id="{{day}}"
                            name="days">
                        <span class="travel-itineraries__day-text">{{day}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="travel-itineraries__step">
                2. Select your preferred touristic objectives from our list. Make sure to choose at least one touristic
                objective for each day you have selected for your travel itinerary:
                <div class="travel-itineraries__objectives-container">
                    <input class="travel-itineraries__input" maxlength="40" placeholder="Search..." autocomplete="off"
                        type="text">
                    <ol class="travel-itineraries__objectives">
                        {% for obj in touristic_objectives %}
                        <li class="travel-itineraries__objective">
                            <span class="travel-itineraries__objective-text">{{obj[0]}}</span>
                            <input class="travel-itineraries__objective-checkbox" type="checkbox" id="{{obj[0]}}"
                                name="objective" value="{{obj[0]}}">
                        </li>
                        {% endfor %}
                        <p class="travel-itineraries__results-not-found">No results found for your search :(</p>
                    </ol>
                </div>
            </div>
            <div class="travel-itineraries__step">
                3. Choose your preferred method of organizing your touristic attractions:
                <div class="travel-itineraries__algorithm-container">
                    <div class="travel-itineraries__algorithm">
                        <input class="travel-itineraries__algorithm-radio" type="radio" value="coordinates"
                            id="coordinates" name="algorithm">
                        <span class="travel-itineraries__algorithm-name">Group by Cardinal Directions
                        </span>
                        <img class="travel-itineraries__algorithm-info-icon" id="info-1"
                            src="{{url_for('static', filename='/assets/illustrations/information.png')}}">
                    </div>
                    <p class="travel-itineraries__algorithm-details" id="details-1">
                        This method groups the attractions based on cardinal directions (North, South, East, West,
                        Northeast and so on). It will categorize the attractions into distinct regions based on their
                        general compass direction. The number of regions will be equal to the number of days chosen.
                    </p>
                </div>
                <div class="travel-itineraries__algorithm-container">
                    <div class="travel-itineraries__algorithm">
                        <input class="travel-itineraries__algorithm-radio" type="radio" value="kmeans" id="kmeans"
                            name="algorithm">
                        <span class="travel-itineraries__algorithm-name">Group by geographical proximity (Coordinate
                            Clustering using K-Means
                            algortihm)
                        </span>
                        <img class="travel-itineraries__algorithm-info-icon" id="info-2"
                            src="{{url_for('static', filename='/assets/illustrations/information.png')}}">
                    </div>
                    <p class="travel-itineraries__algorithm-details" id="details-2">
                        This method groups the attractions based on their coordinates using the K-Means clustering
                        algorithm. It will create clusters based on their proximity to each other in terms of their
                        coordinates. It does not explicitly consider cardinal directions, but focuses on grouping
                        attractions that are close to each other geographically. The number of clusters will be equal to
                        the number of days chosen.
                    </p>
                </div>
            </div>
            <div class="travel-itineraries__step">
                4. (Optional) You can add a name and a description for your travel itinerary. This will help you easily
                identify it among other itineraries:
                <div class="travel-itineraries__optional-container">
                    <input maxlength="64" autocomplete="off" class="optional__name-input" placeholder="Name" name="name"
                        type="text">
                    <input maxlength="256" autocomplete="off" class="optional__description-input"
                        placeholder="Description" name="description" type="text">
                </div>
            </div>
            <div class="travel-itineraries__step">
                5. Once you have completed the steps, click on the
                button below. Please
                note that the generation process may take a while, depending on the complexity of your chosen options.
                <button class="travel-itineraries__generate-button disabled" type="submit" name="generate">Generate
                    travel
                    itinerary
                </button>
            </div>
        </form>
        <div class="travel-itineraries__disclaimer">
            <h3 class="travel-itineraries__disclaimer-title">Disclaimer <img class="travel-itineraries__disclaimer-icon"
                    src="{{url_for('static', filename='/assets/illustrations/disclaimer.png')}}"></h3>
            <p class="travel-itineraries__disclaimer-description">
                Please note that the grouping results provided by our website may not always be perfect or optimal.
                The clustering algorithms used are designed to group attractions based on certain criteria, but the
                accuracy and efficiency of the groups may vary depending on the data and algorithm chosen. We strive
                to provide the best results possible, but it's important to keep in mind that individual preferences
                and subjective factors may influence the suitability of the generated groups for your specific
                travel itinerary. We recommend reviewing and adjusting the suggested groups based on your personal
                preferences and needs.
            </p>
        </div>
    </section>
    <section class="section wikipedia">
        <p class="section__description">Find out more about this city. Dive into comprehensive information
            about the
            city, sourced from Wikipedia.</p>
        <div class="wikipedia__content">{{wikipedia | safe}}</div>
    </section>
    <section class="section photos">
        <p class="section__description">Discover the city's visual wonders. Explore a collection of breathtaking
            photos
            showcasing its essence.</p>
        <div class="photos__content">
            {% for index in range(20) %}
            <div class="photos__photo-container">
                <img class="photos__photo"
                    src="{{url_for('static', filename='/assets/cities_photos/' + city_name + '/' ~ index + '.jpg')}}"
                    alt="Image of this destination">
            </div>
            {% endfor %}
        </div>
        <div class="photos__more-photos">
            <p class="photos__more-photos-message">If you want to see more beautiful photos of {{ city_name
                }}, we recommend you to visit the following websites by clicking them: </p>
            <ul class="photos__website-links">
                <li class="photos__website-bullet"><a class="photos__website-link" href="{{websites_links[0]}}"
                        target="_blank">Pexels</a></li>
                <li class="photos__website-bullet"><a class="photos__website-link" href="{{websites_links[1]}}"
                        target="_blank">Unsplash</a></li>
            </ul>
        </div>
    </section>
    <section class="section statistics">
        {% if statistics.grades[0] > 0 %}
        <p class="section__description">The following statistics are derived from users' evaluations, providing
            valuable
            insights into the city's offerings.</p>
        {% else %}
        <p class="section__description no-data">At the moment, this city does not have any available statistics
            due to the absence of users' evaluations. :(</p>
        {% endif %}
        <div class="statistics__content">
            {% for index in range(10) %}
            <div class="statistics__column">
                <span class="statistics__field">{{statistics.names[index]}}</span>
                <div class="statistics__line" grade="{{statistics.grades[index]}}">
                </div>
                <span class="statistics__line-number">{{statistics.grades[index]}}</span>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="section reviews">
        {% if reviews | length > 0 %}
        <p class="section__description">The following reviews offer real-life experiences and opinions shared by
            other
            users.</p>
        <div class="reviews__content">
            {% for index in range(reviews.username | length) %}
            <div class="reviews__review-card">
                <div class="reviews__review-details">
                    <div class="reviews__user-data">
                        <div class="reviews__photo-container">
                            {% if reviews.photo_name[index] == "0" %}
                            <div class="profile__photo-like">{{reviews.username[index][:2]}}</div>
                            {% else %}
                            <img class="reviews__photo"
                                src="{{url_for('static', filename='/assets/user_photos/' + reviews.photo_name[index])}}"
                                alt="reviews.username[index]'s profile picture">
                            {% endif %}
                        </div>
                        <p class="reviews__user">{{reviews.username[index]}}</p>
                    </div>
                    <p class="reviews__date">{{reviews.date[index]}}</p>
                </div>
                <div class="reviews__text">{{reviews.review[index]}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="section__description no-data">At the moment, there are no reviews available for this city as no
            one
            has submitted one yet. :(</p>
        {% endif %}
    </section>
    <section class="section weather">
        <p class="section__description">Stay updated with the latest weather conditions in the city. Here is the
            weather
            forecast for the next 4 days:</p>
        <div class="weather__content">
            {% for index in range(weather_data.names | length)%}
            <div class="weather__day-container">
                <p class="weather__day-subtitle">{{weather_data.names[index]}}</p>
                <ul class="weather__per-hours-container">
                    {% for index_2 in range(0, weather_data.weather[index] | length, 4) %}
                    <li class="weather__hour-container">
                        <span class="weather__hour">{{weather_data.weather[index][index_2]}}</span>
                        <div class="weather__icon-container">
                            {% if weather_data.weather[index][index_2 + 1] == "Clear" %}
                            {% if weather_data.weather[index][index_2] <= "06:00" or
                                weather_data.weather[index][index_2]> "20:00" %} <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/moon.png')}}">
                                {% else %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/sun.png')}}">
                                {% endif %}
                                {% elif weather_data.weather[index][index_2 + 1] == "Clouds" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/clouds.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Rain" or
                                weather_data.weather[index][index_2 + 1] == "Drizzle" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/rain.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Snow" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/snow.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Thunderstorm" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/thunderstorm.png')}}">
                                {% else %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/fog.png')}}">
                                {% endif %}
                        </div>
                        <span class="weather__temperature">{{weather_data.weather[index][index_2 + 2]}}°</span>
                        <span class="weather__feels-like">Feels like: {{weather_data.weather[index][index_2 +
                            3]}}°</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}