{% extends "post_login_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/destination_details.css') }}" />
<script src="{{ url_for('static', filename='scripts/destination_details.js') }}" defer></script>
{% endblock %}

{% block title %} Site name | {{city_name}} {% endblock %}

{% block content %}
<main>
    <div class="destination__top-container">
        <h3 class="destination__title">{{ city_name }}</h3>
        <form class="destination__buttons" action="/api/destination_details" method="post">
            {% if city_status.wishlisted == True %}
            <button class="destination__button-wishlist true" type="submit" name="remove-wishlist">Remove from
                wishlist</button>
            {% else %}
            <button class="destination__button-wishlist false" type="submit" name="add-wishlist">Add to
                wishlist</button>
            {% endif %}
            {% if city_status.visited == True %}
            <button class="destination__button-visited true" type="submit" name="remove-visited">Remove from
                visited</button>
            {% else %}
            <button class="destination__button-visited false" type="submit" name="mark-visited">Mark as
                visited</button>
            {% endif %}
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% if "mark as visited" in messages: %}
    <div class="modal__background-grey"></div>
    <dialog open class="modal">
        <p class="modal__title">Destination added to visited list.
        </p>
        <div class="modal__buttons-container">
            <a class="modal__button now" href="/evaluate?city={{city_name}}">Evaluate
                now</a>
            <a class="modal__button close">Ok</a>
        </div>
    </dialog>
    {% endif %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages() %}
    {% if messages: %}
    {% if "remove from visited" in messages: %}
    <div class="modal__background-grey"></div>
    <dialog open class="modal">
        <p class="modal__title">Destination removed from visited list.
        </p>
        <a class="modal__button close">Ok</a>
    </dialog>
    {% endif %}
    {% endif %}
    {% endwith %}

    <div class="destination__middle-container">
        <ul class="destination__options">
            <li class="destination__option travel-itineraries active">Travel itineraries</li>
            <li class="destination__option wikipedia">Description</li>
            <li class="destination__option photos">Photos</li>
            <li class="destination__option statistics">Statistics</li>
            <li class="destination__option reviews">Reviews</li>
            <li class="destination__option weather">Weather</li>
        </ul>
    </div>
    <section class="section travel-itineraries active">
        <p class="section__description">We provide you with a vast selection of up to 500 touristic
            objectives.</p>
        <ol class="travel-itineraries__touristic-objectives">
            {% for obj in touristic_objectives %}
            <li class="travel-itineraries__objective">{{obj[0]}}</li>
            {% endfor %}
        </ol>
    </section>
    <section class="section wikipedia">
        <p class="section__description">Find out more about this city. Dive into comprehensive information
            about the
            city, sourced from Wikipedia.</p>
        <div class="wikipedia__content">{{wikipedia | safe}}</div>
    </section>
    <section class="section photos">
        <p class="section__description">Discover the city's visual wonders. Explore a collection of breathtaking
            photos
            showcasing its essence.</p>
        <div class="photos__content">
            {% for index in range(20) %}
            <div class="photos__photo-container">
                <img class="photos__photo"
                    src="{{url_for('static', filename='/assets/cities_photos/' + city_name + '/' ~ index + '.jpg')}}"
                    alt="Image of this destination">
            </div>
            {% endfor %}
        </div>
        <div class="photos__more-photos">
            <p class="photos__more-photos-message">If you want to see more beautiful photos of {{ city_name
                }}, we recommend you to visit the following websites by clicking them: </p>
            <ul class="photos__website-links">
                <li class="photos__website-bullet"><a class="photos__website-link" href="{{websites_links[0]}}"
                        target="_blank">Pexels</a></li>
                <li class="photos__website-bullet"><a class="photos__website-link" href="{{websites_links[1]}}"
                        target="_blank">Unsplash</a></li>
            </ul>
        </div>
    </section>
    <section class="section statistics">
        {% if statistics.grades[0] > 0 %}
        <p class="section__description">The following statistics are derived from users' evaluations, providing
            valuable
            insights into the city's offerings.</p>
        {% else %}
        <p class="section__description no-data">At the moment, this city does not have any available statistics
            due to the absence of users' evaluations. :(</p>
        {% endif %}
        <div class="statistics__content">
            {% for index in range(10) %}
            <div class="statistics__column">
                <span class="statistics__field">{{statistics.names[index]}}</span>
                <div class="statistics__line" grade="{{statistics.grades[index]}}">
                </div>
                <span class="statistics__line-number">{{statistics.grades[index]}}</span>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="section reviews">
        {% if reviews | length > 0 %}
        <p class="section__description">The following reviews offer real-life experiences and opinions shared by
            other
            users.</p>
        <div class="reviews__content">
            {% for index in range(reviews.username | length) %}
            <div class="reviews__review-card">
                <div class="reviews__review-details">
                    <div class="reviews__user-data">
                        <div class="reviews__photo-container">
                            {% if reviews.photo_name[index] == "0" %}
                            <div class="profile__photo-like">{{reviews.username[index][:2]}}</div>
                            {% else %}
                            <img class="reviews__photo"
                                src="{{url_for('static', filename='/assets/user_photos/' + reviews.photo_name[index])}}"
                                alt="reviews.username[index]'s profile picture">
                            {% endif %}
                        </div>
                        <p class="reviews__user">{{reviews.username[index]}}</p>
                    </div>
                    <p class="reviews__date">{{reviews.date[index]}}</p>
                </div>
                <div class="reviews__text">{{reviews.review[index]}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="section__description no-data">At the moment, there are no reviews available for this city as no
            one
            has submitted one yet. :(</p>
        {% endif %}
    </section>
    <section class="section weather">
        <p class="section__description">Stay updated with the latest weather conditions in the city. Here is the
            weather
            forecast for the next 4 days:</p>
        <div class="weather__content">
            {% for index in range(weather_data.names | length)%}
            <div class="weather__day-container">
                <p class="weather__day-subtitle">{{weather_data.names[index]}}</p>
                <ul class="weather__per-hours-container">
                    {% for index_2 in range(0, weather_data.weather[index] | length, 4) %}
                    <li class="weather__hour-container">
                        <span class="weather__hour">{{weather_data.weather[index][index_2]}}</span>
                        <div class="weather__icon-container">
                            {% if weather_data.weather[index][index_2 + 1] == "Clear" %}
                            {% if weather_data.weather[index][index_2] <= "06:00" or
                                weather_data.weather[index][index_2]> "20:00" %} <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/moon.png')}}">
                                {% else %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/sun.png')}}">
                                {% endif %}
                                {% elif weather_data.weather[index][index_2 + 1] == "Clouds" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/clouds.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Rain" or
                                weather_data.weather[index][index_2 + 1] == "Drizzle" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/rain.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Snow" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/snow.png')}}">
                                {% elif weather_data.weather[index][index_2 + 1] == "Thunderstorm" %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/thunderstorm.png')}}">
                                {% else %}
                                <img class="weather__icon"
                                    src="{{url_for('static', filename='/assets/illustrations/fog.png')}}">
                                {% endif %}
                        </div>
                        <span class="weather__temperature">{{weather_data.weather[index][index_2 + 2]}}°</span>
                        <span class="weather__feels-like">Feels like: {{weather_data.weather[index][index_2 +
                            3]}}°</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}