{% extends "post_login_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/destination_evaluate.css') }}" />
<script src="{{ url_for('static', filename='scripts/destination_evaluate.js') }}" defer></script>
{% endblock %}

{% block title %} Evaluation | TOYO {{option}} {% endblock %}

{% block content %}
<main>
    <div class="evaluate__top-container">
        <h3 class="evaluate__destination-title"> {{option}}</h3>
        <p class="evaluate__visited-date">You marked this destination as visited on {{visited_date}}.</p>
    </div>
    <div class="evaluate__middle-container">
        <ul class="evaluate__options">
            <li class="evaluate__option help active">Help the community</li>
            <li class="evaluate__option evaluate">Evaluate</li>
            <li class="evaluate__option review">Leave a review</li>
        </ul>
    </div>
    <section class="section help active">
        <div class="help__intro">
            <div class="help__intro-title-container">
                <h3 class="help__title">
                    Your opinion matters! Help build a vibrant travel community.
                </h3>
                <img class="help__icon" src="{{url_for('static', filename='/assets/illustrations/community.png')}}">
            </div>
            <p class="help__intro-text">
                Your evaluation and your reviews can make a significant impact on the travel
                community.
                By sharing your experiences and opinions about the city you have visited, you can help other
                travelers to make informed decisions and create memorable trips.
            </p>
        </div>
        <div class="help__tutorial">
            <h3 class="help__title">What you have to do?</h3>
            <ol class="help__tutorial-ideas">
                <li class="help__tutorial-idea">
                    Visit the <span class="tutorial-idea-important">Evaluation</span> section to rate this city
                    on 10 criteria. Our grading system ranges from 1 to 10, with 1 being the lowest grade and 10 being
                    the highest. Once you have completed the evaluation, submit it. While your raitings will be made
                    available to the others, rest assured that your identity will remain confidential. You can also
                    update
                    your evaluation at any
                    time if your opinion changes or if you want to provide further feedback. Your updated evaluation
                    will replace the previous one.
                </li>
                <li class="help__tutorial-idea">
                    Visit the <span class="tutorial-idea-important">Leave a review</span> section and share your
                    thoughts about the city. Feel free to express your opinions and experiences. Once you submit your
                    review, it will be published for everyone to see. You can also update your review later if you wish
                    to provide additional insights or make any changes. Your updated review will replace the previous
                    one.
                </li>
            </ol>
        </div>
    </section>
    <section class="section evaluate">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% if messages[0] == "evaluation submitted" %}
        <p class="evaluate__description success">Thank you for submitting your evaluation! Your raitings have been
            successfully recorded!</p>
        {% elif messages[0] == "evaluation updated" %}
        <p class="evaluate__description success">Your raitings have been successfully updated!</p>
        {% endif %}
        {% endif %}
        {% endwith %}

        {% if user_feedback.evaluation | length %}
        <div class="evaluate__already">
            <p class="evaluate__description">You have already submitted an evaluation for this city:</p>
            <div class="evaluate__previous-grades">
                {% for index in range(10) %}
                <p class="evaluate__previous-grade">
                    {{aspects[index]}} : {{user_feedback.evaluation[index]}}
                </p>
                {% endfor %}
            </div>
        </div>
        <p class="evaluate__description"> However, you can still
            modify your evaluation if you wish. As you have done before, rate each aspect on a scale of 1 to 10:</p>
        {% else %}
        <p class="evaluate__description"> Rate each aspect on a scale of 1 to 10:</p>
        {% endif %}
        <form class="evaluate__rows" action="/api/evaluate" method="post">
            {% for index in range(10) %}
            <div class="evaluate__row">
                <span class="evaluate__aspect">{{aspects[index]}}</span>
                <div class="evaluate__grade-container">
                    {% for grade in range(1, 11, 1) %}
                    <input type="checkbox" value="{{grade}}" id="{{index}}{{grade}}" name="{{aspects[index]}}" hidden>
                    <label for="{{index}}{{grade}}" class="evaluate__grade">{{grade}}</label>
                    {% if grade < 10 %} <span class="evaluate__dot">.</span>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% if user_feedback.evaluation | length %}
            <button type="submit" class="evaluate__button disabled" name="update-evaluation" disabled>Send
                evaluation</button>
            {% else %}
            <button type="submit" class="evaluate__button disabled" name="evaluate" disabled>Send
                evaluation</button>
            {% endif %}
        </form>
    </section>
    <section class="section review">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% if messages[0] == "review submitted" %}
        <p class="evaluate__description success">Thank you for submitting your review! Your feedback has been
            successfully recorded!</p>
        {% elif messages[0] == "review updated" %}
        <p class="evaluate__description success">Your review has been successfully updated!</p>
        {% endif %}
        {% endif %}
        {% endwith %}

        {% if user_feedback.review | length %}
        <div class="review__already">
            <p class="review__description">You have already submitted a review for this city:
            </p>
            <p class="review__previous-feeling">
                {{user_feedback.review[1]}}
                <img class="review__feeling-icon"
                    src="{{url_for('static', filename='/assets/illustrations/' + user_feedback.review[1] + '_24.png')}}">
            </p>
            <p class="review__previous-text">" {{user_feedback.review[0]}} "</p>
        </div>
        <p class="review__description">However, you can still
            modify your it if you wish. Choose the dominant feeling that resonates with your experience, then share your
            personal insights and honest opinions about the
            city you've explored.
        </p>
        {% else %}
        <p class="review__description">Choose the dominant feeling that resonates with your experience, then share your
            personal insights and honest opinions about the
            city you've explored.
        </p>
        {% endif %}
        <form class="review__form" action="/api/evaluate" method="post">
            <div class="review__feeling-container">
                {% for general_feeling in general_feelings %}
                <input class="review__feeling-radio" type="radio" value="{{general_feeling}}" id="{{general_feeling}}"
                    name="feeling" hidden>
                <label for="{{general_feeling}}" class="review__feeling-label">
                    {{general_feeling}}
                    <img class="review__feeling-icon"
                        src="{{url_for('static', filename='/assets/illustrations/' + general_feeling + '_24.png')}}">
                </label>
                {% endfor %}
            </div>
            <div class="review__input-container">
                <input maxlength="512" autocomplete="off" class="review__input" placeholder="Write your review here..."
                    name="review" type="text" required>
                <span class="review__input-remaining">Characters left: 512</span>
            </div>
            {% if user_feedback.review | length %}
            <button type="submit" class="review__button" name="update-review">Send review</button>
            {% else %}
            <button type="submit" class="review__button" name="leave-review">Send review</button>
            {% endif %}
        </form>
    </section>
</main>
{% endblock %}