{% extends "post_login_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}

{% block title %} Home | TOYO {% endblock %}

{% block content %}
<main class="grid-container">
    <div class="welcome-messages grid-row-span-8">
        <p class="message-big">Ready to go on a new trip?</p>
        <p class="message-medium">CHOOSE YOUR NEXT DESTINATION AND LET US DO THE REST AS USUAL.</p>
        <p class="message-small">
            Our website provides a wide range of cities to explore, ensuring that there is something for every
            traveller.
        </p>
    </div>
    <div class="travel-itineraries grid-col-span-3 grid-row-span-3">
        <h3 class="travel-itineraries__subtitle">
            Travel itineraries
        </h3>
        <div class="travel-itineraries__icon-container">
            <div class="travel-itineraries__book-border">
                <span class="travel-itineraries__book-line one"></span>
                <span class="travel-itineraries__book-line two"></span>
                <span class="travel-itineraries__book-line three"></span>
            </div>
        </div>
        <p class="travel-itineraries__description">
            Travel itineraries are what makes our website so special, so you can see yours anytime. Click below to
            view your personalized travel plans.
        </p>
        <a class="travel-itineraries__button dark-grey" href="/itineraries?id=all">Open</a>
    </div>
    <ul class="destinations grid-col-span-3 grid-row-span-2">
        <li class="destinations__category visited-destinations">
            <p class="destinations__number">{{visited_destinations}}</p>
            <h3 class="destinations__subtitle">visited destinations</h3>
            <a class="destinations__see-all-button" href="/destinations?option=visited">View all
            </a>
        </li>
        <li class="destinations__category wishlisted-destinations">
            <p class="destinations__number">{{wishlisted_destinations}}</p>
            <h3 class="destinations__subtitle">bookmarked destinations</h3>
            <a class="destinations__see-all-button" href="/destinations?option=wishlisted">View all</a>
        </li>
        <li class="destinations__category total-destinations">
            <p class="destinations__number">{{total_destinations}}</p>
            <h3 class="destinations__subtitle">total destinations</h3>
            <a class="destinations__see-all-button" href="/destinations?option=all">View all</a>
        </li>
    </ul>
    <div class="statistics grid-col-span-3 grid-row-span-3">
        <h3 class="statistics__subtitle">Statistics</h3>
        <div class="statistics__icon-container">
            <div class="statistics__bars">
                <span class="statistics__bar one"></span>
                <span class="statistics__bar two"></span>
                <span class="statistics__bar three"></span>
            </div>
        </div>
        <p class="statistics__description">
            Have a look on our in-depth statistics about the destinations.
        </p>
        <a class="statistics__button blue" href="/statistics">View statistics</a>
    </div>
</main>
{% endblock %}