{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
<script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
{% endblock %}

{% block title %} Site name {% endblock %}

{% block body %}
<main>
    <img class="background-image" src="{{url_for('static', filename='/assets/photos/landing_page_photo.jpg')}}"
        alt="Image of a city" />
    <header>
        <div class="site-name-container">
            <a class="site-name intro active">TOYO</a>
        </div>
        <ul class="header-options">
            <li class="header-option about">About</li>
            <li class="header-option destinations">Destinations</li>
            <li class="header-option reviews">Reviews</li>
            <li class="header-option contact">Contact</li>
        </ul>
        <div class="account-buttons">
            <a class="login-button" href="{{ url_for('login_view_blueprint.login_view') }}">Login</a>
            <a class="sign-up-button" href="{{ url_for('register_view_blueprint.register_view') }}">Sign up</a>
        </div>
        <div class="phone-menu-icon-container">
            <img class="phone-menu-icon" src="{{url_for('static', filename='/assets/illustrations/menu.png')}}">
        </div>
    </header>
    <div class="subtitle">YOUR OWN TRAVEL AGENCY</div>
    <section class="section intro active">
        <ul class="paragraphs">
            <li class="paragraph">Made by a traveller for the other travelers</li>
            <li class="paragraph">Explore the capitals of Europe in a simpler way.</li>
            <li class="paragraph">No more maps, travel guides or anything like that.</li>
        </ul>
        <a class="start-the-journey-button" href="{{ url_for('register_view_blueprint.register_view') }}">
            Start the journey
        </a>
    </section>
    <section class="section about">
        <div class="gradient"></div>
        <ul class="about__list">
            <li class="about__list-element">
                <div class="about__icon-container">
                    <img class="about__icon" src="{{url_for('static', filename='/assets/illustrations/idea.png')}}">
                </div>
                <div class="about__text">
                    <h3 class="about__title">The idea behind the project</h3>
                    <p class="about__description">
                        In a world full of people who love travelling, we thought to make their life easier. The desire
                        was to make an application for travelling without the need of any other app.
                    </p>
                </div>
            </li>
            <li class="about__list-element right">
                <div class="about__text">
                    <h3 class="about__title">What does this app actually do?</h3>
                    <p class="about__description">
                        Imagine there is an app which incorporates many useful applications for travelling like Google
                        Maps, Wikipedia, etc. Well the app exists, and this is it.
                    </p>
                </div>
                <div class="about__icon-container">
                    <img class="about__icon" src="{{url_for('static', filename='/assets/illustrations/layers.png')}}">
                </div>
            </li>
            <li class="about__list-element">
                <div class="about__icon-container">
                    <img class="about__icon" src="{{url_for('static', filename='/assets/illustrations/more.png')}}">
                </div>
                <div class="about__text">
                    <h3 class="about__title">More things about it</h3>
                    <p class="about__description">
                        Find your next city to be visited and plan your trip with our help very easily. The app will
                        help you finding the best solutions for anything in the area of travelling.
                    </p>
                </div>
            </li>
        </ul>
    </section>
    <section class="section destinations">
        <div class="gradient"></div>
        <div class="destinations__container">
            <div class="destinations__text">
                <h3 class="destinations__title">A large variety of cities</h3>
                <p class="destinations__description">From cities of Western Europe to the ones finding in east, we have
                    them all. From London to Istanbul, from Oslo to Athens, we think that here you can find whatever you
                    want.</p>
            </div>
            <div class="destinations__most-visited">
                <h3 class="destinations__title">Check our most visited destinations</h3>
                <ul class="destinations__list">
                    {% for index in range(3) %}
                    <li class="destinations__list-element">
                        <div class="destinations__icon-container">
                            <img class="destinations__icon"
                                src="{{url_for('static', filename='/assets/illustrations/medal.png')}}">
                        </div>
                        <p class="destinations__name">City name</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="section reviews">
        <div class="gradient"></div>
        <div class="reviews__container">
            <div class="reviews_text">
                <h3 class="reviews__title">We are not the only ones praising our app</h3>
                <p class="reviews__description">If you are still skeptic, have a look on what other people had to say
                    about
                    this app. We will let their words speak for ourselves.</p>
            </div>
            <ul class="reviews__list">
                {% for index in range(3) %}
                <li class="reviews__list-element">
                    <p class="reviews__person">Username</p>
                    <div class="reviews__review">
                        <div class="reviews__review-icon-container">
                            <img class="reviews__review-icon"
                                src="{{url_for('static', filename='/assets/illustrations/quote.png')}}">
                        </div>
                        <p class="reviews__review-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
                            quasi ex quo iusto unde eveniet cumque minima aspernatur animi dicta magnam sint enim. Ea,
                            repudiandae numquam nulla ratione eum molestiae.</p>
                        <div class="reviews__review-icon-container">
                            <img class="reviews__review-icon"
                                src="{{url_for('static', filename='/assets/illustrations/quote.png')}}">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class=" section contact">
        <div class="gradient"></div>
        <div class="contact__container">
            <div class="contact__text">
                <h3 class="contact__title">Where you can find us?</h3>
                <p class="contact__description">You can get in touch with us in the following ways:</p>
            </div>
            <ul class="contact__list">
                <li class="contact__list-element">
                    <div class="contact__icon-container">
                        <img class="contact__icon"
                            src="{{url_for('static', filename='/assets/illustrations/address.png')}}">
                    </div>
                    <p class="contact__name">Address</p>
                    <div class="contact__details">
                        <p class="contact__detail">Country: name</p>
                        <p class="contact__detail">City: name</p>
                        <p class="contact__detail">Street: name</p>
                    </div>
                </li>
                <li class="contact__list-element">
                    <div class="contact__icon-container">
                        <img class="contact__icon"
                            src="{{url_for('static', filename='/assets/illustrations/phone.png')}}">
                    </div>
                    <p class="contact__name">Phone</p>
                    <p class="contact__detail">+40xxxxxxxxx</p>
                </li>
                <li class="contact__list-element">
                    <div class="contact__icon-container">
                        <img class="contact__icon"
                            src="{{url_for('static', filename='/assets/illustrations/email.png')}}">
                    </div>
                    <p class="contact__name">E-mail</p>
                    <p class="contact__detail">toyo_travel@gmail.com</p>
                </li>
                <li class="contact__list-element">
                    <div class="contact__icon-container">
                        <img class="contact__icon"
                            src="{{url_for('static', filename='/assets/illustrations/instagram.png')}}">
                    </div>
                    <p class="contact__name">Instagram</p>
                    <p class="contact__detail">@toyo_travel</p>
                </li>
            </ul>
        </div>
    </section>
    <div class="header-background"></div>
    <nav class="phone-menu">
        <ul class="header-options phone">
            <li class="header-option about">About</li>
            <li class="header-option destinations">Destinations</li>
            <li class="header-option reviews">Reviews</li>
            <li class="header-option contact">Contact</li>
        </ul>
        <div class="account-buttons phone">
            <a class="login-button" href="{{ url_for('login_view_blueprint.login_view') }}">Login</a>
            <a class="sign-up-button" href="{{ url_for('register_view_blueprint.register_view') }}">Sign up</a>
        </div>
    </nav>
</main>
{% endblock %}