{% extends "post_login_base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/itineraries.css') }}" />
{% endblock %}

{% block title %} Site name | Itineraries {% endblock %}

{% block content %}
<main>
    {% if option == "all" %}
    <h3 class="itineraries__title">Itineraries</h3>
    <section class="itineraries__intro"></section>
    <section class="itineraries__grid-container">
        {% for itinerary in itineraries %}
        {{itinerary[0]}}, {{itinerary[1]}}, {{itinerary[2]}}
        {% endfor %}
    </section>
    {% endif %}
</main>
{% endblock %}