{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
{% endblock %}

{% block title %} Site name | Login {% endblock %}

{% block body %}
<main>
    <section class="main-content">
        <div class="welcome">
            Welcome back
        </div>
        <form class="login-form" method="post">
            <div class="user-credentials">
                <div class="email-container">
                    <p class="email">E-mail</p>
                    <input name="email" type="text" required>
                </div>
                <div class="password-container">
                    <p class="password">Password</p>
                    <input name="password" type="password" required>
                </div>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <div class="sign-up">
            <p class="question">Don't have an account?</p>
            <a class="answear" href="{{ url_for('register_view_blueprint.register_view') }}">Register now.</a>
        </div>
    </section>
    <section class="side-content">
        <div class="illustration-container">
            <img class="illustration" src="{{url_for('static', filename='/assets/illustrations/asset_login_page.png')}}"
                alt="Some happy travellers">
        </div>
        <p class="msg_1">Start travelling again with us!</p>
    </section>
</main>
{% endblock %}