<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_extra.css') }}" />
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <h2 class="site-name">TOYO</h2>
        <nav>
            <ul class="header-options">
                <li class="header-option">
                    <a class="header-link" href="{{ url_for('home_view_blueprint.home_view') }}">Home</a>
                </li>
                <li class="header-option">
                    <a class="header-link" href="{{ url_for('home_view_blueprint.home_view') }}">Destinations</a>
                </li>
                <li class="header-option">
                    <a class="header-link" href="{{ url_for('home_view_blueprint.home_view') }}">Profile</a>
                </li>
                <li class="header-option">
                    <a class="header-link logout-button" href="{{ url_for('index_view_blueprint.index_view') }}">Log
                        out</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>Footer</footer>
</body>

</html>