<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_extra.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='/assets/icon/website.ico')}}">
    <script src="{{ url_for('static', filename='scripts/post_login_base.js') }}" defer></script>
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="content-container-two">
        <header>
            <h2 class="header__site-name">TOYO</h2>
            <nav class="desktop">
                <ul class="header__options">
                    <li class="header__option">
                        <a class="header__link" href="{{ url_for('home_view_blueprint.home_view') }}">Home</a>
                    </li>
                    <li class="header__option">
                        <a class="header__link" href="/destinations?option=all">Destinations</a>
                    </li>
                    <li class="header__option">
                        <a class="header__link" href="{{ url_for('profile_view_blueprint.profile_view') }}">Profile</a>
                    </li>
                    <li class="header__option-logout">
                        <a class="header__logout-button" href="{{ url_for('index_view_blueprint.index_view') }}">Log
                            out</a>
                    </li>
                </ul>
            </nav>
            <div class="phone-menu-icon-container">
                <span class="phone-menu-icon-bar top"></span>
                <span class="phone-menu-icon-bar middle"></span>
                <span class="phone-menu-icon-bar bottom"></span>
            </div>
        </header>
        <nav class="phone">
            <ul class="header__options-phone">
                <li class="header__option phone">
                    <a class="header__link phone" href="{{ url_for('home_view_blueprint.home_view') }}">Home</a>
                </li>
                <li class="header__option phone">
                    <a class="header__link phone" href="/destinations?option=all">Destinations</a>
                </li>
                <li class="header__option phone">
                    <a class="header__link phone"
                        href="{{ url_for('profile_view_blueprint.profile_view') }}">Profile</a>
                </li>
                <li class="header__option-logout phone">
                    <a class="header__logout-button" href="{{ url_for('index_view_blueprint.index_view') }}">Log
                        out</a>
                </li>
            </ul>
        </nav>
        {% block content %} {% endblock %}
        <footer>
            <div class="footer__grid-container">
                <div class="footer__about">
                    <h3 class="footer__subtitle">About TOYO</h3>
                    <ul class="footer__about-options">
                        <li class="footer__about-option">
                            <a class="footer__about-link" href="/itineraries?id=all">
                                Check your travel itineraries.
                            </a>
                        </li>
                        <li class="footer__about-option">
                            <a class="footer__about-link" href="/destinations?option=all#most_visited">Check
                                our
                                most
                                visited destinations.</a>
                        </li>
                        <li class="footer__about-option">
                            <a class="footer__about-link" href="/destinations?option=all#most_reviewed">Check
                                our
                                most
                                reviewed destinations.</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__review footer__grid-col-span-3">
                    <h3 class="footer__subtitle">Leave us a review</h3>
                    <div class="footer__review-content">
                        <p class="footer__review-description">
                            We value your feedback! Share your experience and help us improve.
                            Please leave a review so that we can make our website better and better for you. Your
                            opinion
                            matters to us!
                        </p>
                        <form class="footer__review-form">
                            <input maxlength="128" autocomplete="off" class="footer__review-input"
                                placeholder="Give us your feedback..." name="review" type="text" required>
                            <button type="submit" class="footer__review-button">Submit review</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__terms">Terms of use | Privacy</p>
                <p class="footer__credit footer__grid-col-span-3">© 2023 Copyright. All rights reserved.</p>
            </div>
        </footer>
    </div>

</body>

</html>