{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}" />
{% endblock %}

{% block title %} Site name | Sign up {% endblock %}

{% block body %}
<main>
    <section class="main-content">
        <div class="welcome">
            Welcome
        </div>
        <form class="register-form" action="/api/register" method="post">
            <div class="user-credentials">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <!-- Not the first time displaying the page (User credentials error): -->
                <div class="username-container">
                    <p class="username">Username</p>
                    {% if messages[0] == "username_error" %}
                    <input maxlength="40" class="error" name="username" type="text"
                        placeholder="Username already exists!" required>
                    {% else %}
                    <input maxlength="40" name="username" type="text" placeholder="Your username (individual)" required>
                    {% endif %}
                </div>
                <div class="email-container">
                    <p class="email">Email</p>
                    {% if messages[0] == "email_error"%}
                    <input maxlength="40" class="error" name="email" type="text" placeholder="Email already exists!"
                        required>
                    {% else %}
                    <input maxlength="40" name="email" type="text" placeholder="Your email" required>
                    {% endif %}
                </div>
                <div class="password-container">
                    <p class="password">Password</p>
                    {% if messages[0] == "password_error"%}
                    <input maxlength="40" class="error" name="password" type="password"
                        placeholder="Password too short!" required>
                    {% else %}
                    <input maxlength="40" name="password" type="password"
                        placeholder="Your password (min. 8 characters)" required>
                    {% endif %}
                </div>
                <div class="password-container">
                    <p class="password">Confirm password</p>
                    {% if messages[0] == "passwords_error"%}
                    <input maxlength="40" class="error" name="password-confirmation" type="password"
                        placeholder="Passwords are different!" required>
                    {% else %}
                    <input maxlength="40" name="password-confirmation" type="password"
                        placeholder="Repeat your password" required>
                    {% endif %}
                </div>
                {% else %}
                <!-- First time displaying the page: -->
                <div class="username-container">
                    <p class="username">Username</p>
                    <input maxlength="40" name="username" type="text" placeholder="Your username (individual)" required>
                </div>
                <div class="email-container">
                    <p class="email">Email</p>
                    <input maxlength="40" name="email" type="text" placeholder="Your email" required>
                </div>
                <div class="password-container">
                    <p class="password">Password</p>
                    <input maxlength="40" name="password" type="password"
                        placeholder="Your password (min. 8 characters)" required>
                </div>
                <div class="password-container">
                    <p class="password">Confirm password</p>
                    <input maxlength="40" name="password-confirmation" type="password"
                        placeholder="Repeat your password" required>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <button type="submit" class="sign-up-button">Sign up</button>
        </form>
        <div class="login">
            <p class="question">If you already have an account, please
                <a class="answear" href="{{ url_for('login_view_blueprint.login_view') }}">log in.</a>
            </p>
        </div>
    </section>
    <section class="side-content">
        <div class="illustration-container">
            <img class="illustration"
                src="{{url_for('static', filename='/assets/illustrations/asset_sign_up_page.png')}}"
                alt="Some happy travellers">
        </div>
        <p class="msg_1">Improve your travelling experience now!</p>
    </section>
</main>
{% endblock %}