/* this file is for the common parts of the design like colors, default layouts, etc. */

:root {
    --dark-grey: #373C44;
    --blue: #90BEDE;
    --lightblue: #A1C7E3;
    --extralightblue: #B0D1E8;
    --violet: #A4778B;
    --pink: #C97B84;
}

/*  
    regular:    font-weight: 400,
    medium:     font-weight: 500,
    semibold:   font-weight: 600,
    bold:       font-weight: 700,
    extrabold:  font-weight: 800
*/

* {
    padding: 0vh;
    margin: 0vh;
    border: none;
}