:root {
    --light-grey: #A4ACB6;
    --grey: #808080;
    --dark-grey: #373C44;
    --extra-dark-grey: #232426;
    --blue: #90BEDE;
    --light-blue: #A1C7E3;
    --extra-light-blue: #B0D1E8;
    --violet: #9C7CA5;
    --pink: #F67E7D;
    --white: #FFFFFF;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-grey);
    font-family: 'Montserrat';
    overflow-x: hidden;
}



/* GENERAL */
main.container-for-sections{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
}
section.section{
    padding: 0vh 5vw;
    padding-top: 2.5vh;
    height: 97.5vh;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-align: start;
}
header.section__header{
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
div.section__content-template-one{
    height: 80%;
    color: var(--white);
    display: flex;
}
div.section__content-template-two{
    position: relative;
    height: 90%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}



/* <-- header elements --> */
/* --- only for section 1 --- */
.header__site-name-title{
    flex-basis: 30%;
    margin-right: 5vh;
    animation:  site-name-from-left-animation 1s;
}
.header__first-type-account-buttons{
    flex-basis: 70%;
    font-weight: var(--semibold);
    font-size: 2vh;
    margin-left: 5vh;
    margin-right: 1.25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    column-gap: 2.5vh;
    animation: come-from-right-animation 1s;
}
/* --- only for section 2, 3, 4, 5, 6 --- */
.header__div-for-layout{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}
.header__section-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.header__second-type-account-buttons{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    font-weight: var(--semibold);
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    column-gap: 2.5vh;
}
/* --- for all sections ---- */
.title__text{
    font-weight: var(--semibold);
    font-size: 5vh;
    background-image: linear-gradient(to right, var(--blue), var(--white));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
div.login-button{
    padding: 0.5vh 0vh;
    background-color: transparent;
}
.login-button__link{
    text-decoration: none;
    color: var(--white);
}
div.sign-up-button{
    padding: 0.5vh 3vh;
    border-radius: 0.33rem;
    color: var(--white);
    background-color: var(--blue);
}
.sign-up-button__link{
    text-decoration: none;
    color: var(--white);
}



/* <-- content elements --> */
/* --- 1st section --- */
.content__text-container{
    flex-basis: 30%;
    margin-right: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.text-container__subtitle{
    font-weight: var(--medium);
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: subtitle-display-animation 2.5s;
}
.subtitle__word{
    flex-basis: 100%;
}
.text-container__main-ideas{
    font-weight: var(--regular);
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5vh;
    animation: ideas-display-animation 3s;
}
.main-ideas__idea{
    flex-basis: 100%;
}
div.text-container__sign-up-button{
    padding: 1.5vh 3vh;
    border-radius: 0.33rem;
    font-weight: var(--semibold);
    font-size: 2vh;
    background-image: linear-gradient(to right, var(--blue), var(--extra-light-blue), var(--blue));
    background-size: 200%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    transition: all 500ms ease-out;
    animation: start-the-journey-appear-animation 3.5s, start-the-journey-pop-up-animation 10s infinite;
}
div.text-container__sign-up-button:hover{
    background-position: right center;
}
.photo-slider{
    flex-basis: 70%;
    position: relative;
    margin: 1.25vh 5vh;
    animation: come-from-right-animation 1.5s;
}
.photo-container{
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.5s ease-in;
}
.photo-container[active-image]{
    opacity: 1;
    transition: 1.5s ease-out
}
.photo-container--2{
    position: absolute;
    top: 0;
}
.photo-container--3{
    position: absolute;
    top: 0;
}
.photo-container--4{
    position: absolute;
    top: 0;
}
.photo{
    border-radius: 0.33rem;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* !!! animations --> 1st section !!! */
@keyframes subtitle-display-animation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes ideas-display-animation{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes start-the-journey-appear-animation{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes start-the-journey-pop-up-animation{
    0%{
        transform: scale(1);
    }
    80%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.075);
    }
    90%{
        transform: scale(1);
    }
    95%{
        transform: scale(1.075);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes site-name-from-left-animation{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes come-from-right-animation{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}


/* --- 2nd section --- */
.intro-for-about{
    position: relative;
    flex-basis: 25%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    z-index: 1;
}
.intro-for-about__icon-container{
    flex-basis: 25%;
    box-shadow: 0rem 0rem 1rem 0.4rem var(--extra-dark-grey);
    border-radius: 0.66rem;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.icon-container__icon{
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
}
.intro-for-about__text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.text-container__title-container{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-container__title{
    flex-basis: 70%;
    font-size: 3vh;
    font-weight: var(--semibold);
    text-align: left;
}
.text-container__description-container{
    flex-basis: 60%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.description-container__description{
    flex-basis: 70%;
    font-size: 2vh;
    font-weight: var(--regular);
}
/* design elements for 2nd row */
.ss-left-blur{
    position: absolute;
    left: calc(-12.5%  + -5vw);
    height: 180%;
    width: 25%;
    border-radius: 0 50% 50% 0;
    background: var(--blue);
    opacity: 75%;
    filter: blur(5vh);
    z-index: -1;
}
.ss-left-blur.left-blur-1{
    top: -20%;
}
.ss-left-blur.left-blur-2{
    top: -60%;
}
.ss-right-blur{
    position: absolute;
    top: -50%;
    left: calc(87.5% + 5vw);
    height: 200%;
    width: 25%;
    border-radius: 50% 0 0 50%;
    background: var(--blue);
    opacity: 75%;
    filter: blur(5vh);
    z-index: -1;
}
/* !!! animations - > 2nd section !!! */
@keyframes about-from-left-animation{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes about-from-right-animation{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes about-text-animation{
    0%{
        opacity: 0;
        transform: translateY(10%);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* --- 3rd section --- */
.section--third-section{
    position: relative;
    z-index: 1;
}
.content__about-intro-text{
    flex-basis: 10%;
    color: var(--white);
    font-size: 3vh;
    font-weight: var(--medium);
    animation: about-from-left-animation 
}
.content__container-for-grid{
    flex-basis: 70%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 7.5vh;
    column-gap: 7.5vw;
}
.about-card{
    position: relative;
    border-radius: 0.66rem;
    box-shadow: 0rem 0rem 1rem 0.4rem var(--extra-dark-grey);
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.about-card__number{
    flex-basis: 20%;
    padding: 1vh 1vw;
    font-size: 10vh;
    font-weight: var(--medium);
    text-align: center;
}
.about-card__number.about-card__number--blue{
    color: var(--blue);
}
.about-card__number.about-card__number--violet{
    color: var(--violet);
}
.about-card__number.about-card__number--pink{
    color: var(--pink);
}
.about-card__idea{
    flex-basis: 80%;
    padding: 1vh 1vw;
    font-size: 2vh;
    font-weight: var(--medium);
    color: var(--white);
    text-align: center;
}
/* design elements for 3rd section */
.ts-blur{
    position: absolute;
    height: 70%;
    width: 25%;
    filter: blur(5vh);
    z-index: -1;
}
/* left side blur */
.ts-blur.left-blur{
    left: -5vw;
}
.ts-blur.left-blur.blue{
    top: 0;
    background-color: var(--blue);
}
.ts-blur.left-blur.pink{
    bottom: 0;
    background-color: var(--pink);
}
/* right side blur */
.ts-blur.right-blur{
    left: calc(75% + 5vw);
}
.ts-blur.right-blur.pink{
    top: 0;
    background-color: var(--pink);
}
.ts-blur.right-blur.violet{
    bottom: 0;
    background-color: var(--violet);
}
/* !!! animations - > 3rd section !!! */
@keyframes about-2-from-left-animation{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes about-2-cards-animation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes about-2-from-left-2-animation{
    0%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes about-2-from-right-animation{
    0%{
        transform: translateX(100%);
    }
    80%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}


/* --- 4th section --- */
.coming-soon-container{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming-soon{
    font-size: 3vh;
    font-weight: var(--medium);
    color: var(--white);
    text-align: center;
}


/* --- 5th section --- */
.content__review-intro-text{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.review-intro-text__title{
    flex-basis: 50%;
    font-size: 3vh;
    font-weight: var(--medium);
}
.review-intro-text__description{
    flex-basis: 50%;
    font-size: 2vh;
    font-weight: var(--regular);
}
.reviews-container{
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.review{
    flex-basis: 25%;
    border-radius: 0.66rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 0.5s ease-out;
}
.review:hover{
    box-shadow: 0rem 0rem 1rem 0.4rem var(--violet);
}
.review.review--main{
    transform: scale(1.1);
}
.review.review--not-main{
    transform: translateY(-10%);
}
.review__user-container{
    flex-basis: 20%;
    margin: 0vh 1vw;
    border-bottom: 0.25rem solid var(--violet);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.review__user-photo-container{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: var(--grey);
}
.review__user-name{
    flex-basis: 60%;
    font-size: 2vh;
    font-weight: var(--medium);
    text-align: center;
}
.review__user-opinion{
    position: relative;
    flex-basis: 80%;
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.user-opinion__quote-photo{
    position: absolute;
    height: 15%;
    width: 20%;
}
.user-opinion__quote-photo.user-opinion__quote-photo--first{
    top: 0;
    left: 0;
}
.user-opinion__quote-photo.user-opinion__quote-photo--last{
    bottom: 0;
    left: 80%;
}


/* --- 6th section --- */
.contact{
    padding: 0vh 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.contact__intro-text{
    flex-basis: 10%;
    font-size: 3vh;
    font-weight: var(--medium);
    text-align: left;
}
.contact__container{
    flex-basis: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    row-gap: 3vh;
}
.container__option-available{
    border-radius: 0.66rem;
    box-shadow: 0rem 0rem 1rem 0.4rem var(--extra-dark-grey);
    background: linear-gradient(to bottom right, var(--dark-grey), var(--light-grey), var(--dark-grey));
    background-size: 200%;
    background-position: bottom right;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s ease-out;
}
.container__option-available:hover{
    background-position: top left;
}
.option-available__icon{
    object-position: center;
}
.container__option-displayed{
    padding: 1vh 1vw;
    opacity: 0;
    color: var(--pink);
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
}
.option-displayed__title{
    flex-basis: 40%;
    font-size: 3vh;
    font-weight: var(--semibold);
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-displayed__description{
    flex-basis: 60%;
    font-size: 2vh;
    font-weight: var(--regular);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}



/* navigation -> -> 1st section */
.nav{
    height: 10%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nav__div-for-layout{
    flex-basis: 30%;
    margin-right: 2.5vh;
}
.nav__menu{
    flex-basis: 70%;
    list-style: none;
    margin: 0vh 1.25vh;
    font-weight: var(--semibold);
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    animation: come-from-right-animation 2s;
}
.menu__link{
    position: relative;
    text-decoration: none;
    color: var(--white);
}
.menu__link::before{
    position: absolute;
    content: '';
    top: 100%;
    height: 0.25vh;
    width: 0;
    background-color: var(--white);
    transition: all 750ms ease-out;
}
.menu__link:hover::before{
    width: 100%;
}
.menu__link::after{
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    height: 0.25vh;
    width: 100%;
    background-color: var(--white);
}
.menu__link:hover::after{
    opacity: 0;
}
/* !!! animations - > 1st section, navigation !!! */
@keyframes come-from-right-animation{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}